In [1]:
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
import pandas as pd
import seaborn as sns



# 폰트 경로를 직접 지정
font_path = '/usr/share/fonts/truetype/nanum/NanumGothic.ttf'
fontprop = fm.FontProperties(fname=font_path)

In [2]:
df_518 = pd.read_parquet("/home/hq_key/codeit-project-docker/data/230430.parquet")
# path_timelinereport = "gs://hq-project/votes/accounts_timelinereport.parquet"
# 확인
df_518

,event_datetime,session_id,device_id,event_key,description,location,devicemodel,language
0,2023-05-01 09:00:00,jgGFnoyc6GWuGIEgjp3nUoKRQbF3,cfc34eab-6930-488b-8109-70d37cec7dae,button,다음,signotherinputscreen,"iPhone10,4",ko-KR
1,2023-05-01 09:00:00,n3PI8GZnRFOKpJslIRgckMeRiln1,0dde2ecb-ff03-440f-98f3-94f20978b796,button,vote 선택,homevotesscreen,"iPhone14,4",ko-CA
2,2023-05-01 09:00:00,L31Dl8vRtdWPJ8XC0gGs1mPwzJH2,b50774ed-24ce-49e1-9383-945ff3aea9ff,button,친구선택,homeenquetescreen,SM-A125N,ko
3,2023-05-01 09:00:00,QjToElcYNkVxszJDHBhqtITlzDJ3,0999c6b6-c579-4c0f-916c-9a113010f84a,button,이름 셔플!,homeenquetescreen,SM-A305N,ko
4,2023-05-01 09:00:00,VRpXf303RGU730fIO4EjWstzAJi1,45985493-ed35-4cc5-935f-1bcf922e213c,button,앱바 뒤로가기,homefriendprofilescreen,"iPhone14,5",ko-KR
...,...,...,...,...,...,...,...,...
8588417,2023-05-07 08:59:59,96348488-4d6a-49a8-8995-452718157fd7,96348488-4d6a-49a8-8995-452718157fd7,$session_end,None,None,SM-A315N,ko
8588418,2023-05-07 08:59:59,9e9c7a7a-5efc-470b-8ecf-e3f6a102bda6,9e9c7a7a-5efc-470b-8ecf-e3f6a102bda6,$session_end,None,None,SM-S901N,ko
8588419,2023-05-07 08:59:59,60DD632C-010F-4689-A997-1E17E7368C9F,60dd632c-010f-4689-a997-1e17e7368c9f,$session_end,None,None,"iPhone13,2",ko-KR
8588420,2023-05-07 08:59:59,lfu6e5HTwdQvbkSmOHppzJA585N2,d9246f1a-f9cf-440f-ba36-07ed71836c4a,$session_start,None,None,"iPhone14,2",ko-KR
8588421,2023-05-07 08:59:59,B7CcMRIZMfR8R0Kx0BQLXY74Bv72,6c63ff3c-3a04-4861-8c20-d05154d987ea,$session_start,None,None,"iPhone10,4",ko-KR

In [3]:
import os
import pandas as pd

# CSV 파일이 저장된 디렉토리 경로
data_dir = '/home/hq_key/codeit-project-docker/data/'

# 해당 폴더 안의 모든 파일 이름을 가져오고, csv만 필터링
parquet_files = sorted([
    file for file in os.listdir(data_dir) 
    if file.endswith('.parquet') and file.startswith('23')
])

# 각 파일을 읽어서 리스트에 저장
dataframes = []
for file in parquet_files:
    file_path = os.path.join(data_dir, file)
    df = pd.read_parquet(file_path)
    dataframes.append(df)
    print(f"{file} 로드 완료, shape: {df.shape}")

230430.parquet 로드 완료, shape: (8588422, 8)
230506.parquet 로드 완료, shape: (7106588, 6)
230512.parquet 로드 완료, shape: (12188804, 6)
230518.parquet 로드 완료, shape: (8224556, 6)
230524.parquet 로드 완료, shape: (2586328, 6)
230530.parquet 로드 완료, shape: (2313, 6)
230605.parquet 로드 완료, shape: (649, 5)
230611.parquet 로드 완료, shape: (263, 5)
230617.parquet 로드 완료, shape: (4120154, 5)

In [4]:
df_430 = dataframes[0]
df_506 = dataframes[1]
df_512 = dataframes[2]          
df_518 = dataframes[3]
df_524 = dataframes[4]
df_530 = dataframes[5]
df_605 = dataframes[6]
df_611 = dataframes[7]
df_617 = dataframes[8]

In [6]:
df_430.describe()

,event_datetime,session_id,device_id,event_key,description,location,devicemodel,language
count,8588422,8588422,8588422,8588422,7451936,7451936,8588422,8588422
unique,450597,157344,93284,3,8583,26,430,119
top,2023-05-03 06:57:00,2hVUipDkRTgPgjcWKfg1ZX7BiCF2,ae7bb627-df86-426b-b731-8066ed4d9888,button,이름 셔플!,homeenquetescreen,"iPhone14,5",ko-KR
freq,207,3368,3384,7451936,2043485,3705618,1025980,6002459

In [7]:
df_all = pd.concat(dataframes, ignore_index=True)

In [8]:
target_id = '45985493-ed35-4cc5-935f-1bcf922e213c'

# 해당 id에 해당하는 행 추출
target_df = df_all[df_all['session_id'] == target_id][['event_key', 'description', 'location', 'event_datetime']].sort_values(by='event_datetime')

# 출력
print(target_df)

Empty DataFrame
Columns: [event_key, description, location, event_datetime]
Index: []

In [9]:
df_all.describe()

,event_datetime,session_id,device_id,event_key,description,location,devicemodel,language
count,42818077,38697011,42818077,42818077,7451936,7451936,42818077,42818077
unique,2476341,1516384,921944,29,8583,26,831,270
top,2023-05-03 06:57:00,2hVUipDkRTgPgjcWKfg1ZX7BiCF2,ae7bb627-df86-426b-b731-8066ed4d9888,$session_start,이름 셔플!,homeenquetescreen,"iPhone14,5",ko-KR
freq,207,3395,3411,19070976,2043485,3705618,5212363,31409466

In [10]:
df_all['location'].unique()

array(['signotherinputscreen', 'homevotesscreen', 'homeenquetescreen',
       'homefriendprofilescreen', 'homescreen', None, 'homedetailscreen',
       'homerevealinitialscreen', 'homeidlescreen', 'signschoolscreen',
       'signfriendspossiblyscreen', 'signfriendsmaybescreen',
       'homeaboutscreen', 'homeprofileeditscreen', 'signpushscreen',
       'signphoneinputscreen', 'signcontactscreen', 'homeaboutwhatscreen',
       'signidlescreen', 'homeprofilescreen', 'signwelcomescreen',
       'signotherinputbloc', 'signphoneinputbloc', 'homecontactscreen',
       'homewithdrawalscreen', 'homeinvitescreen', 'hometimelinescreen',
       nan], dtype=object)

In [11]:
path_hackle_events  = "gs://hq-project/hackle/hackle_events.parquet"    

hackle_events = pd.read_parquet(path_hackle_events, storage_options={"token": None})

In [12]:
hackle_events['session_id'].nunique()

253616

In [13]:
# 두 컬럼의 고유값 추출
hackle_id = set(hackle_events['session_id'].unique())
df_id = set(df_all['session_id'].unique())

# 겹치는 ID 확인
common_ids = df_id.intersection(hackle_id)

# 결과 출력
print(f"겹치는 ID 수: {len(common_ids)}")
# 동일한 device_id임을 확인.

겹치는 ID 수: 214804

In [14]:
# 두 컬럼의 고유값 추출
hackle_id = set(hackle_events['session_id'].unique())
df_id = set(df_all['device_id'].unique())

# 겹치는 ID 확인
common_ids = df_id.intersection(hackle_id)

# 결과 출력
print(f"겹치는 ID 수: {len(common_ids)}")
# 동일한 device_id임을 확인.

겹치는 ID 수: 15414

고유 id로 묶을 수 있는 21만개의 행에서 얻을 수 있는 데이터 ?    
사실 그냥 hackle_events 에서 얻을 수 있는 것과 별반 다르지 않지 않나 ?     
추가 데이터에서 얻을 수 있는 특별한 데이터라곤
description밖에 없다.

In [15]:
hackle_events # 얘만 봐도 1100만행인데

,event_id,event_datetime,event_key,session_id,id,item_name,page_name,friend_count,votes_count,heart_balance,question_id
0,00000533-3f1c-4b3b-81f1-0c8f35754b4e,2023-07-18 19:40:17,$session_start,4OzYh3seq3VKytpSn5pvQkZNQii1,00000533-3f1c-4b3b-81f1-0c8f35754b4e,,,NaN,NaN,NaN,NaN
1,00000716-27e9-4e72-a602-d0ce61784b06,2023-07-18 21:07:24,click_question_open,8QXy31PQxbW9qLzq0Y1dhR8Ypm52,00000716-27e9-4e72-a602-d0ce61784b06,,,64.0,436.0,4830.0,NaN
2,000007c8-68ce-40e6-9b1e-f0e34e8ff9cc,2023-08-06 20:18:03,click_bottom_navigation_profile,6bcea65d-9f40-46fc-888c-700fe707483f,000007c8-68ce-40e6-9b1e-f0e34e8ff9cc,,,26.0,174.0,4729.0,NaN
3,00000981-5e2a-4111-993e-4f1891ad9a53,2023-08-05 01:46:10,view_shop,XVYNT6zfhFWqIg9omwg2AHDjTLx2,00000981-5e2a-4111-993e-4f1891ad9a53,,,61.0,44.0,142.0,NaN
4,00000a7a-ba72-4332-b4a9-7910670aaeb2,2023-07-24 15:03:37,click_bottom_navigation_lab,XFB2SPiGfjbVhvJ3Q3DBsaT3m2B3,00000a7a-ba72-4332-b4a9-7910670aaeb2,,,119.0,545.0,3287.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
11441314,fffff54e-e730-418f-8080-4eff7e2641f2,2023-08-08 01:40:00,view_timeline_tap,n9RSY5wNfvURIV3sKeXZiYWiVSD3,fffff54e-e730-418f-8080-4eff7e2641f2,,,27.0,92.0,326.0,NaN
11441315,fffff57d-6c79-46b3-a87b-4bfa900ef11b,2023-07-23 09:30:22,skip_question,CB3F11FD-4B78-4496-96E7-3B4174C123E9,fffff57d-6c79-46b3-a87b-4bfa900ef11b,,,0.0,0.0,300.0,799.0
11441316,fffff632-2d70-4190-addd-6ae2f2399876,2023-07-18 18:13:30,view_lab_tap,AwpRr0ll7bTfFV22MIXHDASEpz72,fffff632-2d70-4190-addd-6ae2f2399876,,,29.0,97.0,284.0,NaN
11441317,fffffb07-af2f-4cce-a26e-1dcc97c74b14,2023-07-21 15:37:27,view_timeline_tap,H8oiWwKxRiYByNykbb2GsVYd8JU2,fffffb07-af2f-4cce-a26e-1dcc97c74b14,,,49.0,527.0,932.0,NaN
11441318,fffffeac-675f-4c6e-900a-a422ed9bd57c,2023-07-22 02:31:16,$session_start,4GRqxdquqEPpUFf4w9dNoMHwVCh2,fffffeac-675f-4c6e-900a-a422ed9bd57c,,,NaN,NaN,NaN,NaN