In [1]:
# ÌïÑÏöîÌïú ÎùºÏù¥Î∏åÎü¨Î¶¨ Î∂àÎü¨Ïò§Í∏∞
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import koreanize_matplotlib
import seaborn as sns
import os
from ast import literal_eval  # Î¨∏ÏûêÏó¥Î°ú Ï†ÄÏû•Îêú ÎîïÏÖîÎÑàÎ¶¨Î•º ÏßÑÏßú ÎîïÏÖîÎÑàÎ¶¨Î°ú Î≥ÄÌôò

# GCS ÌååÏùº Í≤ΩÎ°úÏóêÏÑú Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞ ÏúÑÌïú ÎùºÏù¥Î∏åÎü¨Î¶¨
from google.cloud import storage
from google.oauth2 import service_account

In [4]:

# Í∏∞Î≥∏ Ï†ïÎ≥¥ ÌôïÏù∏ Ìï®Ïàò 
def show_df_info(df, df_name):
    """
    DataFrameÏùò Í∏∞Î≥∏ Ï†ïÎ≥¥ÏôÄ ÌÜµÍ≥Ñ ÏöîÏïΩÏùÑ Ï∂úÎ†•ÌïòÎäî Ìï®Ïàò
    """
    print(f"\n{df_name} ÌòïÌÉú:")
    display(df.shape)
    print(f"\n{df_name} Ï≤´ 5Ìñâ:")
    display(df.head())
    print(f"\n{df_name} Ï†ïÎ≥¥:")
    df.info()
    print(f"\n{df_name} ÌÜµÍ≥Ñ ÏöîÏïΩ:")
    display(df.describe())
    print(f"\n{df_name} ÌÜµÍ≥Ñ ÏöîÏïΩ:")
    display(df.describe(include = 'O'))
    print(f"\n{df_name} Í≤∞Ï∏°Ïπò ÌôïÏù∏:")
    display(df.isnull().sum())
    # print(f"\n{df_name} Ï§ëÎ≥µÍ∞í ÌôïÏù∏:")
    # print(df.iloc[:,1:].duplicated().sum())

# ÌååÏùº Î∂àÎü¨Ïò§Í∏∞ Î∞è ÌôïÏù∏

In [69]:
# 230430 test
# GCS ÌååÏùº Í≤ΩÎ°ú
gcs_path = "gs://part4_project/events/230430.parquet"
# Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
test_df = pd.read_parquet(gcs_path, storage_options={"token": None}) # key_path // Ïò§ÎäòÏùÄ ÏóêÎü¨ÎÇòÏÑú NoneÏúºÎ°ú...

# ÌôïÏù∏
display(test_df.head())
test_df.shape

,event_datetime,session_id,device_id,event_key,description,location,devicemodel,language
0,2023-05-01 09:00:00,jgGFnoyc6GWuGIEgjp3nUoKRQbF3,cfc34eab-6930-488b-8109-70d37cec7dae,button,Îã§Ïùå,signotherinputscreen,"iPhone10,4",ko-KR
1,2023-05-01 09:00:00,n3PI8GZnRFOKpJslIRgckMeRiln1,0dde2ecb-ff03-440f-98f3-94f20978b796,button,vote ÏÑ†ÌÉù,homevotesscreen,"iPhone14,4",ko-CA
2,2023-05-01 09:00:00,L31Dl8vRtdWPJ8XC0gGs1mPwzJH2,b50774ed-24ce-49e1-9383-945ff3aea9ff,button,ÏπúÍµ¨ÏÑ†ÌÉù,homeenquetescreen,SM-A125N,ko
3,2023-05-01 09:00:00,QjToElcYNkVxszJDHBhqtITlzDJ3,0999c6b6-c579-4c0f-916c-9a113010f84a,button,Ïù¥Î¶Ñ ÏÖîÌîå!,homeenquetescreen,SM-A305N,ko
4,2023-05-01 09:00:00,VRpXf303RGU730fIO4EjWstzAJi1,45985493-ed35-4cc5-935f-1bcf922e213c,button,Ïï±Î∞î Îí§Î°úÍ∞ÄÍ∏∞,homefriendprofilescreen,"iPhone14,5",ko-KR

(8588422, 8)

In [2]:
# Ïù∏Ï¶ù
key_path = "../config/codeit_project_vm_key.json"
credentials = service_account.Credentials.from_service_account_file(key_path)

# GCS ÌÅ¥ÎùºÏù¥Ïñ∏Ìä∏ ÏÉùÏÑ±
client = storage.Client(credentials=credentials)
bucket = client.bucket("part4_project")

# 'events/' Í≤ΩÎ°úÏóê ÏûàÎäî .csv ÌååÏùº Î¶¨Ïä§Ìä∏ Í∞ÄÏ†∏Ïò§Í∏∞
blobs = bucket.list_blobs(prefix="events/")
events_file_list = [f"gs://part4_project/{blob.name}" for blob in blobs if blob.name.endswith(".csv")] 

# Í≤∞Í≥º ÌôïÏù∏
events_file_list

['gs://part4_project/events/df_230430.csv',
 'gs://part4_project/events/df_230506.csv',
 'gs://part4_project/events/df_230512.csv',
 'gs://part4_project/events/df_230518.csv',
 'gs://part4_project/events/df_230524.csv',
 'gs://part4_project/events/df_230530.csv',
 'gs://part4_project/events/df_230605.csv',
 'gs://part4_project/events/df_230611.csv',
 'gs://part4_project/events/df_230617.csv']

In [ ]:
# ÌååÏùºÎì§ÏùÑ Í∞ÅÍ∞Å Î≥ÄÏàòÎ°ú Î∂àÎü¨Ïò§Í∏∞
for title in events_file_list:
    # GCS Í≤ΩÎ°úÏóêÏÑú ÌååÏùºÎ™Ö Ï∂îÏ∂ú
    file_name = title.split('/')[-1].replace('.csv', '')
    
    # Parquet ÌååÏùº ÏùΩÍ∏∞
    df = pd.read_csv(title, storage_options={"token": key_path})
    
    # Í∞ÅÍ∞ÅÏùò Ïù¥Î¶Ñ_dfÎ°ú Ï†ÄÏû• (ex. device_properties_df)
    globals()[f"{file_name}"] = df
    
    # Ï∂úÎ†• ÌôïÏù∏ (shape + head)
    print(f"\n {file_name} Î∂àÎü¨Ïò§Í∏∞ ÏôÑÎ£å")
    print(f"‚Üí shape: {df.shape}")
    print(f"‚Üí Ï≤´ 5Ìñâ:")
    display(df.head())
    
    # event_datetimeÏù¥ ÏûàÎäî Í≤ΩÏö∞ ÎÇ†Ïßú Î≥ÄÌôò Î∞è Î≤îÏúÑ Ï∂úÎ†•
    if 'event_datetime' in df.columns:
        try:
            df['event_datetime'] = pd.to_datetime(df['event_datetime'])
            min_date = df['event_datetime'].min().date()
            max_date = df['event_datetime'].max().date()
            print(f"üìÜ {file_name}Ïùò event_datetime Î≤îÏúÑ: {min_date} ~ {max_date}")
        except Exception as e:
            print(f"‚ö†Ô∏è {file_name}Ïùò event_datetime Î≥ÄÌôò Ï§ë Ïò§Î•ò Î∞úÏÉù: {e}")
    else:
        print(f"‚õî {file_name}ÏóêÎäî 'event_datetime' Ïª¨ÎüºÏù¥ Ï°¥Ïû¨ÌïòÏßÄ ÏïäÏùå")

 df_230430 Î∂àÎü¨Ïò§Í∏∞ ÏôÑÎ£å
‚Üí shape: (1200705, 8)
‚Üí Ï≤´ 5Ìñâ:

,event_datetime,session_id,device_id,event_key,description,location,devicemodel,language
0,2023-05-01 09:00:00,jgGFnoyc6GWuGIEgjp3nUoKRQbF3,cfc34eab-6930-488b-8109-70d37cec7dae,button,Îã§Ïùå,signotherinputscreen,"iPhone10,4",ko-KR
1,2023-05-01 09:00:00,n3PI8GZnRFOKpJslIRgckMeRiln1,0dde2ecb-ff03-440f-98f3-94f20978b796,button,vote ÏÑ†ÌÉù,homevotesscreen,"iPhone14,4",ko-CA
2,2023-05-01 09:00:00,L31Dl8vRtdWPJ8XC0gGs1mPwzJH2,b50774ed-24ce-49e1-9383-945ff3aea9ff,button,ÏπúÍµ¨ÏÑ†ÌÉù,homeenquetescreen,SM-A125N,ko
3,2023-05-01 09:00:00,QjToElcYNkVxszJDHBhqtITlzDJ3,0999c6b6-c579-4c0f-916c-9a113010f84a,button,Ïù¥Î¶Ñ ÏÖîÌîå!,homeenquetescreen,SM-A305N,ko
4,2023-05-01 09:00:00,VRpXf303RGU730fIO4EjWstzAJi1,45985493-ed35-4cc5-935f-1bcf922e213c,button,Ïï±Î∞î Îí§Î°úÍ∞ÄÍ∏∞,homefriendprofilescreen,"iPhone14,5",ko-KR

üìÜ df_230430_dfÏùò event_datetime Î≤îÏúÑ: 2023-05-01 ~ 2023-05-01

 df_230506 Î∂àÎü¨Ïò§Í∏∞ ÏôÑÎ£å
‚Üí shape: (1266122, 6)
‚Üí Ï≤´ 5Ìñâ:

,event_datetime,session_id,device_id,event_key,devicemodel,language
0,2023-05-07 09:00:00,OoWMTpTWpUa4m8I1RiKOk75Xnvs1,498dbc0f-4537-41dc-93ec-f4406302a3b0,$session_end,"iPhone14,5",ko-KR
1,2023-05-07 09:00:00,CrFi87nvwiVvHExxP9uSfIHOmBy1,7770afa8-e228-4736-aa2a-658ebe2e3d25,$session_end,"iPhone12,8",ko-KR
2,2023-05-07 09:00:00,W6frWgWJtbWTJwdm6eVWPGKwY2Y2,9fbdc45d-a74a-4d9f-9d40-0f400b72877e,$session_end,"iPhone14,8",ko-KR
3,2023-05-07 09:00:00,4EFB4D45-0AAF-424A-8E4E-2F19249C8892,4efb4d45-0aaf-424a-8e4e-2f19249c8892,$session_start,"iPhone12,3",ko-KR
4,2023-05-07 09:00:00,JdxVFvtz6AcxxOZVvl6plHayjYJ3,96348488-4d6a-49a8-8995-452718157fd7,$session_start,SM-A315N,ko

üìÜ df_230506_dfÏùò event_datetime Î≤îÏúÑ: 2023-05-07 ~ 2023-05-09

 df_230512 Î∂àÎü¨Ïò§Í∏∞ ÏôÑÎ£å
‚Üí shape: (1097522, 6)
‚Üí Ï≤´ 5Ìñâ:

,Asia/Seoul,session_id,device_id,event_key,devicemodel,language
0,2023-05-13T00:00:00.004Z,6zkImM4PD0MHIbJ9zRVXs6vX6e62,cb7a48f6-6882-4223-98fd-4fe73cb3903b,$session_start,"iPhone14,4",ko-KR
1,2023-05-13T00:00:00.027Z,Sq5vui6fg2Nhz2EHeC8e4PWyxo13,b2512274-1161-4fd2-a4e8-b40f1ecc0372,$session_end,"iPhone12,8",ko-KR
2,2023-05-13T00:00:00.027Z,RyWeiMNMACUhbawb63ITBMX1c1U2,75f9bcd9-78c8-4dd6-a91e-0faf85a10526,$session_end,"iPhone15,2",ko-KR
3,2023-05-13T00:00:00.046Z,3OaNLuqTVDTkMEc8IsZNBxF9hsH2,380ebcac-4f9d-4004-968d-cf6372908adc,$session_start,"iPhone12,1",en-KR
4,2023-05-13T00:00:00.070Z,rWBKAsEaG3cpHuAPRyohFr3k6PB2,290b1a00-659d-4d24-a26d-5524d7ac44ce,$session_end,"iPhone14,3",ko-KR

‚õî df_230512_dfÏóêÎäî 'event_datetime' Ïª¨ÎüºÏù¥ Ï°¥Ïû¨ÌïòÏßÄ ÏïäÏùå

 df_230518 Î∂àÎü¨Ïò§Í∏∞ ÏôÑÎ£å
‚Üí shape: (995594, 6)
‚Üí Ï≤´ 5Ìñâ:

,event_datetime,session_id,device_id,event_key,devicemodel,language
0,2023-05-19 09:00:00,nALWgF7izudSzKXArsiAOaYYsr23,c370e36d-b84c-4c97-af37-db356caf1741,$session_start,"iPhone14,2",ko-KR
1,2023-05-19 09:00:00,E9A0131C-A70A-4917-88D8-257223F0A767,e9a0131c-a70a-4917-88d8-257223f0a767,$session_end,"iPhone11,2",ko-KR
2,2023-05-19 09:00:00,euhK4oLwdGPVT6sPNNN1Rs7xEKz1,2ab9b1b1-41a7-4f6e-af31-85daac4509ea,$session_start,"iPhone14,7",ko-KR
3,2023-05-19 09:00:00,TYAFQPAWozbqfQ3I296QuXJnWrx1,c3236b64-a328-4743-8afd-461f85f1f1e0,$session_start,"iPhone15,3",ko-KR
4,2023-05-19 09:00:00,XhhuxAQvEcXdlD1JjbPC8H3AF602,efe3418d-ad59-4a20-a5f9-43d2195d1a08,$session_start,"iPhone14,7",ko-KR

üìÜ df_230518_dfÏùò event_datetime Î≤îÏúÑ: 2023-05-19 ~ 2023-05-20

 df_230524 Î∂àÎü¨Ïò§Í∏∞ ÏôÑÎ£å
‚Üí shape: (903053, 6)
‚Üí Ï≤´ 5Ìñâ:

,event_datetime,session_id,device_id,event_key,devicemodel,language
0,2023-05-25 09:00:00,TeeVVRGrpuXE5q6f7pAu9ULVNvG3,b6afceaa-cc9c-4a66-b92f-9e202f9eb328,$session_start,"iPhone14,7",ko-KR
1,2023-05-25 09:00:00,9tcpOeHvyldCUXMgRyFVQI86rf13,54a8af4d-47bf-4951-87c2-1817b26d1c31,$session_start,"iPhone12,1",ko-KR
2,2023-05-25 09:00:00,aiDrtN8uHiQXRXmLMJhf27hKA4B3,b08ee1df-0bc6-4b38-9474-8cbc55fd6f17,$session_start,"iPhone12,1",ko-KR
3,2023-05-25 09:00:00,Oqmt3cCrCQZAa0TT3B4s2kTOG1k1,ace73d0e-04d6-4d03-9460-a0a1143253f7,$session_start,"iPhone11,8",ko-KR
4,2023-05-25 09:00:00,GA1Nz2ehK2TmsRcqBzXQn6hkDHH2,2adda5ce-1d37-43cd-8cbd-c75c06f84f74,$session_start,"iPhone14,7",ko-KR

‚ö†Ô∏è df_230524_dfÏùò event_datetime Î≥ÄÌôò Ï§ë Ïò§Î•ò Î∞úÏÉù: time data "2023-05" doesn't match format "%Y-%m-%d %H:%M:%S", at position 95147. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

 df_230530 Î∂àÎü¨Ïò§Í∏∞ ÏôÑÎ£å
‚Üí shape: (2313, 6)
‚Üí Ï≤´ 5Ìñâ:

,event_datetime,session_id,device_id,event_key,devicemodel,language
0,2023-05-31 09:01:06,VAb6ai91iKPZZQhGKenhHZpAG5B2,6DA6A8DC-1E61-4643-963A-ED3D782BE77A,$session_start,"iPhone15,2",ko-KR
1,2023-05-31 09:02:20,fe556647-de19-43ff-9152-b3c38a8b4d26,fe556647-de19-43ff-9152-b3c38a8b4d26,$session_start,SM-G991N,ko
2,2023-05-31 09:02:46,LsAqqCTVtQPpevfSHXI8oRepVs73,5D47D549-EF22-41F3-A0D2-AD9EC1D21A2B,$session_start,"iPhone15,2",ko-KR
3,2023-05-31 09:03:50,NBfi1jm5FKfB6We7YfVRHFgeJY83,FD419DE8-B3CE-4630-B234-959ADA5F47CF,$session_start,"iPhone9,3",ko-KR
4,2023-05-31 09:04:12,3CBFC179-1BB1-40A2-84EF-C39EFBD40C14,3CBFC179-1BB1-40A2-84EF-C39EFBD40C14,$session_start,"iPhone14,7",ko-KR

üìÜ df_230530_dfÏùò event_datetime Î≤îÏúÑ: 2023-05-31 ~ 2023-06-06

 df_230605 Î∂àÎü¨Ïò§Í∏∞ ÏôÑÎ£å
‚Üí shape: (649, 5)
‚Üí Ï≤´ 5Ìñâ:

,event_datetime,device_id,event_key,devicemodel,language
0,2023-06-06 09:01:35,7918DF48-A239-45CE-AC1E-7E2E356454C4,$session_start,"iPhone13,1",ko-KR
1,2023-06-06 09:16:11,02F51978-FDD9-4C66-AE8D-820943E00AEF,$session_start,"iPad13,8",ko-KR
2,2023-06-06 09:27:07,E75FFCB7-5AAB-4674-AE34-7A231136C367,$session_start,"iPad13,4",ko-KR
3,2023-06-06 09:28:38,92D752F2-E7B9-4C01-892B-C9B3F1416B74,$session_start,"iPhone15,2",ko-KR
4,2023-06-06 09:44:06,47955d3d-b77f-47a6-9d3e-3fcb45a350df,$session_start,SM-A235N,ko

üìÜ df_230605_dfÏùò event_datetime Î≤îÏúÑ: 2023-06-06 ~ 2023-06-12

 df_230611 Î∂àÎü¨Ïò§Í∏∞ ÏôÑÎ£å
‚Üí shape: (263, 5)
‚Üí Ï≤´ 5Ìñâ:

,event_datetime,device_id,event_key,devicemodel,language
0,2023-06-12 09:00:33,8A5F41F9-D126-453C-8EA8-E0C2484584E3,$session_start,"iPhone13,1",ko-KR
1,2023-06-12 09:10:18,A81A2A45-6260-41C6-B81B-071F006D60BD,$session_start,"iPhone14,2",ko-KR
2,2023-06-12 09:17:21,CD41A81E-8D5C-4E7A-8289-587AD8C306F5,$session_start,"iPhone13,1",ko-KR
3,2023-06-12 09:21:00,5A92997F-362C-400B-8613-893A2FD6197F,$session_start,"iPhone13,2",ko-KR
4,2023-06-12 09:22:44,7FB46B64-B405-49C4-9378-8FABA73D4038,$session_start,"iPad13,16",ko-KR

üìÜ df_230611_dfÏùò event_datetime Î≤îÏúÑ: 2023-06-12 ~ 2023-06-18

 df_230617 Î∂àÎü¨Ïò§Í∏∞ ÏôÑÎ£å
‚Üí shape: (1124983, 5)
‚Üí Ï≤´ 5Ìñâ:

,event_datetime,device_id,event_key,devicemodel,language
0,2023-06-18 09:07:08,8b6f9e35-473d-45d7-b8ad-884359609fdd,$session_start,"iPhone15,2",ko-KR
1,2023-06-18 09:07:11,8b6f9e35-473d-45d7-b8ad-884359609fdd,$session_end,"iPhone15,2",ko-KR
2,2023-06-18 09:07:34,4ff18855-0de6-4e51-a00c-7cdfe36bfc64,$session_start,"iPhone8,4",ko-KR
3,2023-06-18 10:01:12,99a6de2d-d222-46ff-81c2-729daff8e688,$session_start,"iPad13,1",ko-KR
4,2023-06-18 11:30:47,4ff18855-0de6-4e51-a00c-7cdfe36bfc64,$session_start,"iPhone8,4",ko-KR

üìÜ df_230617_dfÏùò event_datetime Î≤îÏúÑ: 2023-06-18 ~ 2023-06-23

In [ ]:
# 20230430Ïùò event_datetime, session_id, device_id,	event_key, devicemodel,	language Ïª¨ÎüºÎßå Í∞ÄÏ†∏Ïò§Î©¥ 5ÏõîÍ∫ºÎûë concat Í∞ÄÎä•
# 20230506 ~ 20230530 ÌååÏùºÍπåÏßÄ concat Í∞ÄÎä•
# 20230605 ~ 20230617 ÌååÏùºÍπåÏßÄ concat Í∞ÄÎä•

In [58]:
df_230524.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 903053 entries, 0 to 903052
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   event_datetime  903053 non-null  object
 1   session_id      903052 non-null  object
 2   device_id       903052 non-null  object
 3   event_key       903052 non-null  object
 4   devicemodel     903052 non-null  object
 5   language        903052 non-null  object
dtypes: object(6)
memory usage: 41.3+ MB

In [62]:
print(df_230524[df_230524.isnull().any(axis=1)])

df_230524 = df_230524.dropna()

       event_datetime session_id device_id event_key devicemodel language
903052        2023-05        NaN       NaN       NaN         NaN      NaN

In [63]:
df_230524['event_datetime'] = pd.to_datetime(df_230524['event_datetime'])
df_230524['event_datetime'].min(), df_230524['event_datetime'].max()

(Timestamp('2023-05-25 09:00:00'), Timestamp('2023-05-26 15:04:21'))

# 230512 kst Î°ú Î≥ÄÍ≤Ω

In [66]:
# 1. UTC Í∏∞Ï§ÄÏúºÎ°ú ÌååÏã±
df_230512['Asia/Seoul'] = pd.to_datetime(df_230512['Asia/Seoul'], utc=True)

# 2. ÌïúÍµ≠ÏãúÍ∞Ñ(Asia/Seoul)ÏúºÎ°ú ÌÉÄÏûÑÏ°¥ Î≥ÄÌôò
df_230512['Asia/Seoul'] = df_230512['Asia/Seoul'].dt.tz_convert('Asia/Seoul')
df_230512['Asia/Seoul'] = df_230512['Asia/Seoul'].dt.strftime('%Y-%m-%d %H:%M:%S')

# 3. 'Asia/Seoul' Ïª¨ÎüºÎ™Ö event_datetimeÏúºÎ°ú Î≥ÄÍ≤Ω
df_230512 = df_230512.rename(columns={'Asia/Seoul': 'event_datetime'})

print(df_230512.shape)
df_230512.head()

(1097522, 6)

,event_datetime,session_id,device_id,event_key,devicemodel,language
0,2023-05-13 09:00:00,6zkImM4PD0MHIbJ9zRVXs6vX6e62,cb7a48f6-6882-4223-98fd-4fe73cb3903b,$session_start,"iPhone14,4",ko-KR
1,2023-05-13 09:00:00,Sq5vui6fg2Nhz2EHeC8e4PWyxo13,b2512274-1161-4fd2-a4e8-b40f1ecc0372,$session_end,"iPhone12,8",ko-KR
2,2023-05-13 09:00:00,RyWeiMNMACUhbawb63ITBMX1c1U2,75f9bcd9-78c8-4dd6-a91e-0faf85a10526,$session_end,"iPhone15,2",ko-KR
3,2023-05-13 09:00:00,3OaNLuqTVDTkMEc8IsZNBxF9hsH2,380ebcac-4f9d-4004-968d-cf6372908adc,$session_start,"iPhone12,1",en-KR
4,2023-05-13 09:00:00,rWBKAsEaG3cpHuAPRyohFr3k6PB2,290b1a00-659d-4d24-a26d-5524d7ac44ce,$session_end,"iPhone14,3",ko-KR

In [67]:
# # df_230512 ÌïúÍµ≠ÏãúÍ∞Ñ Î≥ÄÍ≤Ω Î≤ÑÏ†Ñ csvÎ°ú Ï†ÄÏû•
# df_230512.to_csv('../data/df_230512_kst.csv', index=False)


# parquetÏúºÎ°ú Ï†ÄÏû• 
df_230512.to_parquet('../data/df_230512_kst.parquet', index=False)

In [68]:
# 230512 kst Î≤ÑÏ†Ñ Î∂àÎü¨Ïò§Í∏∞
df_230512_kst_test = pd.read_parquet("/home/codeit_project_vm/codeit_project/codeit-project-docker/data/df_230512_kst.parquet")

print(df_230512_kst_test.shape)
df_230512_kst_test.head()

(1097522, 6)

,event_datetime,session_id,device_id,event_key,devicemodel,language
0,2023-05-13 09:00:00,6zkImM4PD0MHIbJ9zRVXs6vX6e62,cb7a48f6-6882-4223-98fd-4fe73cb3903b,$session_start,"iPhone14,4",ko-KR
1,2023-05-13 09:00:00,Sq5vui6fg2Nhz2EHeC8e4PWyxo13,b2512274-1161-4fd2-a4e8-b40f1ecc0372,$session_end,"iPhone12,8",ko-KR
2,2023-05-13 09:00:00,RyWeiMNMACUhbawb63ITBMX1c1U2,75f9bcd9-78c8-4dd6-a91e-0faf85a10526,$session_end,"iPhone15,2",ko-KR
3,2023-05-13 09:00:00,3OaNLuqTVDTkMEc8IsZNBxF9hsH2,380ebcac-4f9d-4004-968d-cf6372908adc,$session_start,"iPhone12,1",en-KR
4,2023-05-13 09:00:00,rWBKAsEaG3cpHuAPRyohFr3k6PB2,290b1a00-659d-4d24-a26d-5524d7ac44ce,$session_end,"iPhone14,3",ko-KR

In [54]:
df_230512_kst_test['event_datetime'] = pd.to_datetime(df_230512_kst_test['event_datetime'])
df_230512_kst_test.describe()

                      event_datetime
count                        1097522
mean   2023-05-13 20:38:04.599332608
min              2023-05-13 09:00:00
25%              2023-05-13 18:42:42
50%              2023-05-13 21:43:26
75%              2023-05-14 00:25:34
max              2023-05-14 03:01:39

# 2023.04.30 + 2023.05.06 ~ 2023.05.30. ÌååÏùº Î≥ëÌï©

In [6]:
# 20230430 ÌååÏùºÏùò event_datetime, session_id, device_id, event_key, devicemodel, language Ïª¨ÎüºÎßå Í∞ÄÏ†∏ÏôÄÏÑú Ï†ÄÏû•
df_230430_new = df_230430[['event_datetime', 'session_id', 'device_id', 'event_key', 'devicemodel', 'language']]

In [7]:
# 20230506 ~ 20230530 ÌååÏùºÍπåÏßÄ concat

# Ìï©ÏπòÍ≥† Ïã∂ÏùÄ ÌååÏùºÎ™Ö Î¶¨Ïä§Ìä∏
df_names = ['df_230506', 'df_230512', 'df_230518', 'df_230524', 'df_230530']

# globals()ÏóêÏÑú Ìï¥Îãπ Ïù¥Î¶ÑÏùò Î≥ÄÏàò Í∞ÄÏ†∏ÏôÄ Î¶¨Ïä§Ìä∏Ïóê Îã¥Í∏∞
dfs_to_concat = [globals()[name] for name in df_names]

# concat Î≥ëÌï©
merged_0506_0530_df = pd.concat(dfs_to_concat, ignore_index=True)

# Í≤∞Í≥º ÌôïÏù∏
print(f"Î≥ëÌï©Îêú DataFrame shape: {merged_0506_0530_df.shape}")
merged_0506_0530_df.head()

Î≥ëÌï©Îêú DataFrame shape: (4264604, 6)

,event_datetime,session_id,device_id,event_key,devicemodel,language
0,2023-05-07 09:00:00,OoWMTpTWpUa4m8I1RiKOk75Xnvs1,498dbc0f-4537-41dc-93ec-f4406302a3b0,$session_end,"iPhone14,5",ko-KR
1,2023-05-07 09:00:00,CrFi87nvwiVvHExxP9uSfIHOmBy1,7770afa8-e228-4736-aa2a-658ebe2e3d25,$session_end,"iPhone12,8",ko-KR
2,2023-05-07 09:00:00,W6frWgWJtbWTJwdm6eVWPGKwY2Y2,9fbdc45d-a74a-4d9f-9d40-0f400b72877e,$session_end,"iPhone14,8",ko-KR
3,2023-05-07 09:00:00,4EFB4D45-0AAF-424A-8E4E-2F19249C8892,4efb4d45-0aaf-424a-8e4e-2f19249c8892,$session_start,"iPhone12,3",ko-KR
4,2023-05-07 09:00:00,JdxVFvtz6AcxxOZVvl6plHayjYJ3,96348488-4d6a-49a8-8995-452718157fd7,$session_start,SM-A315N,ko

In [8]:
# 20230430Í≥º 5Ïõî ÌååÏùºÎì§ concat
merged_0430_0530_df = pd.concat([df_230430_new, merged_0506_0530_df], ignore_index=True)
merged_0430_0530_df.shape

(5465309, 6)

In [9]:
show_df_info(merged_0430_0530_df, "merged_0430_0530_df")

merged_0430_0530_df ÌòïÌÉú:

(5465309, 6)

merged_0430_0530_df Ï≤´ 5Ìñâ:

,event_datetime,session_id,device_id,event_key,devicemodel,language
0,2023-05-01 09:00:00,jgGFnoyc6GWuGIEgjp3nUoKRQbF3,cfc34eab-6930-488b-8109-70d37cec7dae,button,"iPhone10,4",ko-KR
1,2023-05-01 09:00:00,n3PI8GZnRFOKpJslIRgckMeRiln1,0dde2ecb-ff03-440f-98f3-94f20978b796,button,"iPhone14,4",ko-CA
2,2023-05-01 09:00:00,L31Dl8vRtdWPJ8XC0gGs1mPwzJH2,b50774ed-24ce-49e1-9383-945ff3aea9ff,button,SM-A125N,ko
3,2023-05-01 09:00:00,QjToElcYNkVxszJDHBhqtITlzDJ3,0999c6b6-c579-4c0f-916c-9a113010f84a,button,SM-A305N,ko
4,2023-05-01 09:00:00,VRpXf303RGU730fIO4EjWstzAJi1,45985493-ed35-4cc5-935f-1bcf922e213c,button,"iPhone14,5",ko-KR

merged_0430_0530_df Ï†ïÎ≥¥:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5465309 entries, 0 to 5465308
Data columns (total 6 columns):
 #   Column          Dtype
---  ------          -----
 0   event_datetime  object
 1   session_id      object
 2   device_id       object
 3   event_key       object
 4   devicemodel     object
 5   language        object
dtypes: object(6)
memory usage: 250.2+ MB

merged_0430_0530_df ÌÜµÍ≥Ñ ÏöîÏïΩ:

,event_datetime,session_id,device_id,event_key,devicemodel,language
count,5465309,5465308,5465305,5465304,5465304,5465304
unique,405553,696031,548955,3,635,203
top,2023-05-14 01:38:46,fT1BNDNQRyR5PBAgG9tg3dQkfnm1,b66aeb3c-1e08-403a-8c73-14e02e3fb2c0,$session_start,"iPhone14,5",ko-KR
freq,125,985,985,2664451,681014,4123106

merged_0430_0530_df ÌÜµÍ≥Ñ ÏöîÏïΩ:

,event_datetime,session_id,device_id,event_key,devicemodel,language
count,5465309,5465308,5465305,5465304,5465304,5465304
unique,405553,696031,548955,3,635,203
top,2023-05-14 01:38:46,fT1BNDNQRyR5PBAgG9tg3dQkfnm1,b66aeb3c-1e08-403a-8c73-14e02e3fb2c0,$session_start,"iPhone14,5",ko-KR
freq,125,985,985,2664451,681014,4123106

merged_0430_0530_df Í≤∞Ï∏°Ïπò ÌôïÏù∏:

event_datetime    0
session_id        1
device_id         4
event_key         5
devicemodel       5
language          5
dtype: int64

In [10]:
# Í≤∞Ï∏°Ïπò ÌôïÏù∏ 
merged_0430_0530_df[merged_0430_0530_df.isnull().any(axis = 1)]

,event_datetime,session_id,device_id,event_key,devicemodel,language
1200704,2023-05-01 23:27:41,qN1W72oUIfd4laYwk6Ux103cFX42,f9ddd6f5-69d9-4639-81cd-ffd80a,NaN,NaN,NaN
2466826,2023-05-09 01:53:10,BnHO3D8rBrM,NaN,NaN,NaN,NaN
3564348,2023-05-14 03:01:39,IYlwbLIgh4,NaN,NaN,NaN,NaN
4559942,2023-05-20 02:23:13,4I9Exy4M1ogpOGgZNDPH5,NaN,NaN,NaN,NaN
5462995,2023-05,NaN,NaN,NaN,NaN,NaN

In [11]:
# Ï†Ä 2023-05Îäî 230512 ÌååÏùºÏóêÏÑú Ïò®Í±¥Í∞Ä?? 
df_230512[df_230512['event_datetime'] == '2023-05']

Empty DataFrame
Columns: [event_datetime, session_id, device_id, event_key, devicemodel, language]
Index: []

- Í≤∞Ï∏°ÏπòÍ∞Ä ÏûàÎäî 4Í∞úÏùò Ìñâ Ï§ë event_datetimeÏù¥ ÎÖÑ-Ïõî 2023-05 ÍπåÏßÄÎßå ÏûàÎäî Í≤ΩÏö∞ Ï°¥Ïû¨
- 2023-05-12 ÌååÏùºÏóêÏÑú Ïò® ÌñâÏùÄ ÏïÑÎãå Í≤É Í∞ôÏùå...?

In [11]:
# Ïö∞ÏÑ† Í≤∞Ï∏°Ïπò ÏûàÎäî Ìñâ Î≤ÑÎ¶¨Í≥† Î≥¥Ïûê
merged_0430_0530_df = merged_0430_0530_df.dropna()
merged_0430_0530_df.shape

(5465304, 6)

In [12]:
# event_datetime Ïª¨ÎüºÏùÑ datetime ÌòïÏãùÏúºÎ°ú Î≥ÄÌôò
merged_0430_0530_df['event_datetime'] = pd.to_datetime(merged_0430_0530_df['event_datetime'])

In [13]:
# Í∏∞Ï¥à ÌÜµÍ≥ÑÎüâ Ïû¨ÌôïÏù∏
merged_0430_0530_df.describe(include = 'all')

,event_datetime,session_id,device_id,event_key,devicemodel,language
count,5465304,5465304,5465304,5465304,5465304,5465304
unique,NaN,696028,548954,3,635,203
top,NaN,fT1BNDNQRyR5PBAgG9tg3dQkfnm1,b66aeb3c-1e08-403a-8c73-14e02e3fb2c0,$session_start,"iPhone14,5",ko-KR
freq,NaN,985,985,2664451,681014,4123106
mean,2023-05-12 23:59:18.904272128,NaN,NaN,NaN,NaN,NaN
min,2023-05-01 09:00:00,NaN,NaN,NaN,NaN,NaN
25%,2023-05-07 20:15:32,NaN,NaN,NaN,NaN,NaN
50%,2023-05-13 18:35:02,NaN,NaN,NaN,NaN,NaN
75%,2023-05-19 19:39:29,NaN,NaN,NaN,NaN,NaN
max,2023-06-06 08:55:03,NaN,NaN,NaN,NaN,NaN

- 2023-05-01 09:00:00 ~ 2023-06-06 08:55:03ÍπåÏßÄ ÏûàÏùå(0430 ~ 0530 Î≥ëÌï© Ïãú)
- session_idÏùò Í≥†Ïú†Í∞í Í∞úÏàòÍ∞Ä device_id Î≥¥Îã§ ÎßéÏùå
- event_key : session_start, session_end, button 3Í∞úÏù∏Îç∞, session_startÍ∞Ä Í∞ÄÏû• ÎßéÏùå

In [ ]:
# event_key Í≥†Ïú†Í∞í Í∞úÏàò ÌôïÏù∏ 
merged_0430_0530_df['event_key'].value_counts()  # buttonÏùÄ 230430 ÌååÏùºÎßå ÏûàÏùå

event_key
$session_start    2664451
$session_end      1653814
button            1147039
Name: count, dtype: int64

- session_startÍ∞Ä session_endÎ≥¥Îã§ ÎßéÏùå -> Î™®Îì†Í≤å ÏßùÏßÄÏñ¥ÏßÄÏßÑ ÏïäÏùÑ ÌôïÎ•† ÎÜíÏùå....
- buttonÏùÄ 0430 ÌååÏùºÏóêÎßå ÏûàÎäîÍ±∞Îùº ÏÇ¨Ïã§ ÏùòÎØ∏ ÏóÜÏùå.

In [16]:
# Î¨¥ÏóáÏùÑ Í∏∞Ï§ÄÏúºÎ°ú Î¥êÏïºÌï®??
# session_id Î≥ÑÎ°ú device_id Î™á Í∞úÏù∏ÏßÄ
merged_0430_0530_df.groupby('session_id')['device_id'].nunique().reset_index().sort_values(by='device_id', ascending=False)

                          session_id  device_id
650373  uHVfeabKAfPVlsaVzCdbmhyByTC3         20
322619  ISz4K45Bu6RApABHjdl0DAh1Hn33         19
537785  gE1y248PkmTzwpzhKzWCMSzOjvg1         16
403259  Sa3OqUfCeLakNbD3G0qzarA10Pk2         16
13415   0JlVUGW5bdbW8nrM3halq8O2XtR2         16
...                              ...        ...
233869  BYoWnF1JpQXS2AtMBwgV7VMHipH2          1
233870  BYon1bp4WfPxLG3Xk9Gr0Tg32I32          1
233871  BYp9y9GPgXMowTasMma5a6cuIS32          1
233872  BYpap1fyARaNsUbAArZj96I0bEz1          1
348014  LeweIJqROjTitIVmTmhzyJ9o5IB3          1

[696028 rows x 2 columns]

In [ ]:
# ÏÉòÌîå session_id ÌôïÏù∏
merged_0430_0530_df[merged_0430_0530_df['session_id'] == 'uHVfeabKAfPVlsaVzCdbmhyByTC3']

,event_datetime,session_id,device_id,event_key,devicemodel,language
1212317,2023-05-07 09:18:28,uHVfeabKAfPVlsaVzCdbmhyByTC3,56c268f4-dc82-4c70-8080-de52b2bc8c3e,$session_start,"iPhone12,8",ko-KR
1390493,2023-05-07 20:57:14,uHVfeabKAfPVlsaVzCdbmhyByTC3,3827cffd-c1f8-46ff-b078-2db64212b42d,$session_start,"iPhone12,8",ko-KR
1409875,2023-05-07 21:27:27,uHVfeabKAfPVlsaVzCdbmhyByTC3,a03d7d91-e820-4d3b-9ed0-4a1c60931539,$session_start,"iPhone12,8",ko-KR
1476544,2023-05-07 23:03:24,uHVfeabKAfPVlsaVzCdbmhyByTC3,79064dc0-f2f1-46c0-9dc0-b1e6eda23ac4,$session_start,"iPhone12,8",ko-KR
1566108,2023-05-08 01:12:30,uHVfeabKAfPVlsaVzCdbmhyByTC3,efccb5ec-b656-4019-a0c1-af597666d246,$session_start,"iPhone12,8",ko-KR
1668301,2023-05-08 03:32:54,uHVfeabKAfPVlsaVzCdbmhyByTC3,d0ccadb5-61ff-4109-b160-2ddb042c5f06,$session_start,"iPhone12,8",ko-KR
1802049,2023-05-08 06:16:17,uHVfeabKAfPVlsaVzCdbmhyByTC3,8e5d0723-2b2f-42d1-a38f-4290bc6aedfc,$session_start,"iPhone12,8",ko-KR
1960919,2023-05-08 09:02:59,uHVfeabKAfPVlsaVzCdbmhyByTC3,363cf2c2-e4f4-4aa0-992f-c4bf041f6d1a,$session_start,"iPhone12,8",ko-KR
2016428,2023-05-08 10:19:00,uHVfeabKAfPVlsaVzCdbmhyByTC3,2a2c65b4-aa09-4996-921c-e2cedaa33a14,$session_start,"iPhone12,8",ko-KR
2026262,2023-05-08 10:39:33,uHVfeabKAfPVlsaVzCdbmhyByTC3,b05008bc-b7bf-4a30-8e43-a570378b1aaf,$session_start,"iPhone12,8",ko-KR
2052001,2023-05-08 12:59:32,uHVfeabKAfPVlsaVzCdbmhyByTC3,67184043-dd68-4d81-8cb8-29ea3bee5a5d,$session_start,"iPhone12,8",ko-KR
2168733,2023-05-08 17:50:33,uHVfeabKAfPVlsaVzCdbmhyByTC3,66a9a11f-c527-4116-b05e-3eac949c706f,$session_start,"iPhone12,8",ko-KR
2169463,2023-05-08 17:51:25,uHVfeabKAfPVlsaVzCdbmhyByTC3,66a9a11f-c527-4116-b05e-3eac949c706f,$session_end,"iPhone12,8",ko-KR
2173029,2023-05-08 17:56:14,uHVfeabKAfPVlsaVzCdbmhyByTC3,66a9a11f-c527-4116-b05e-3eac949c706f,$session_start,"iPhone12,8",ko-KR
2478059,2023-05-13 09:06:43,uHVfeabKAfPVlsaVzCdbmhyByTC3,283504e2-f60a-40fc-af03-1407ee0dbc16,$session_start,"iPhone12,8",ko-KR
2556554,2023-05-13 10:09:18,uHVfeabKAfPVlsaVzCdbmhyByTC3,aef545d3-cf56-4a68-9a81-53b0b64b3f7f,$session_start,"iPhone12,8",ko-KR
2676298,2023-05-13 17:35:51,uHVfeabKAfPVlsaVzCdbmhyByTC3,b04d0e5d-6e1c-441d-9cb9-fc655e6696f6,$session_start,"iPhone12,8",ko-KR
2701496,2023-05-13 18:04:47,uHVfeabKAfPVlsaVzCdbmhyByTC3,bcd7d90a-de00-4c8c-b548-f5bb9a92d873,$session_start,"iPhone12,8",ko-KR
2789973,2023-05-13 19:21:12,uHVfeabKAfPVlsaVzCdbmhyByTC3,3d7999c9-8791-4177-acad-25244dcf0f2d,$session_start,"iPhone12,8",ko-KR
2933373,2023-05-13 20:57:18,uHVfeabKAfPVlsaVzCdbmhyByTC3,0dc2252a-50fc-47f5-b7c4-41fb36856799,$session_start,"iPhone12,8",ko-KR
3355831,2023-05-14 01:05:05,uHVfeabKAfPVlsaVzCdbmhyByTC3,a0d2b63d-bd4c-4b30-a736-6890169831a1,$session_start,"iPhone12,8",ko-KR
5307543,2023-05-26 07:44:06,uHVfeabKAfPVlsaVzCdbmhyByTC3,add34e51-3e94-4156-8159-de5101f4e9ae,$session_start,"iPhone12,8",ko-KR

- device_idÍ∞Ä 66a9a11f-c527-4116-b05e-3eac949c706fÏù∏ Í≤ΩÏö∞Îßå session_start Îã§Ïùå session_endÍ∞Ä Ïò§ÏßÄÎßå Îã§Ïãú session_start Î°ú ÎßàÎ¨¥Î¶¨..
- Í∑∏ Ïô∏ ÎÇòÎ®∏ÏßÄÎäî Î™®Îëê session_start ÎøêÏûÑ...

In [23]:
# device_id Î≥ÑÎ°ú session_id Î™á Í∞úÏù∏ÏßÄ
merged_0430_0530_df.groupby('device_id')['session_id'].nunique().reset_index().sort_values(by='session_id', ascending=False)

                                   device_id  session_id
372245  ad97ef42-477f-42c0-b1fd-3ec83098020a           5
54947   19a3d22c-5b44-49b6-93a5-d124d5245b4f           5
401879  bb47b31f-cf5b-41b6-b859-aafbd375b519           4
173037  50c7f22c-b6cd-4685-8af3-6f828f430f0b           4
270149  7e00cbd3-294f-4af5-9114-4ac58e466442           4
...                                      ...         ...
218101  65b91c67-77a8-4fd0-80ee-87d2230377ce           1
218100  65b90754-ddef-4c08-9aca-c3588e74e3dd           1
218098  65b8f4a2-7317-4e23-b1d2-9151d46a5d3b           1
218097  65b8eeb0-5017-4014-8d7c-6a0440150673           1
548953  ffff80ca-d517-40f4-bdef-e759411e1fe7           1

[548954 rows x 2 columns]

In [24]:
(merged_0430_0530_df.groupby('device_id')['session_id'].nunique().reset_index().sort_values(by='session_id', ascending=False)['session_id'] == 1).sum()

371262

- 548954 Ï§ëÏóêÏÑú 371262Í∞úÎäî session_id 1Í∞ú
- 548954 Ï§ëÏóêÏÑú 177692Í∞úÍ∞Ä 2Í∞ú Ïù¥ÏÉÅÏùò session_idÎ•º Í∞ÄÏßÄÍ≥† ÏûàÏùå

In [14]:
# ÏÉòÌîå device_id ÌôïÏù∏
merged_0430_0530_df[merged_0430_0530_df['device_id'] == 'ad97ef42-477f-42c0-b1fd-3ec83098020a']

,event_datetime,session_id,device_id,event_key,devicemodel,language
270510,2023-05-01 10:17:52,AD97EF42-477F-42C0-B1FD-3EC83098020A,ad97ef42-477f-42c0-b1fd-3ec83098020a,button,"iPhone13,2",ko-KR
270705,2023-05-01 10:17:58,AD97EF42-477F-42C0-B1FD-3EC83098020A,ad97ef42-477f-42c0-b1fd-3ec83098020a,button,"iPhone13,2",ko-KR
270763,2023-05-01 10:17:59,AD97EF42-477F-42C0-B1FD-3EC83098020A,ad97ef42-477f-42c0-b1fd-3ec83098020a,button,"iPhone13,2",ko-KR
270847,2023-05-01 10:18:01,AD97EF42-477F-42C0-B1FD-3EC83098020A,ad97ef42-477f-42c0-b1fd-3ec83098020a,button,"iPhone13,2",ko-KR
270935,2023-05-01 10:18:03,AD97EF42-477F-42C0-B1FD-3EC83098020A,ad97ef42-477f-42c0-b1fd-3ec83098020a,button,"iPhone13,2",ko-KR
...,...,...,...,...,...,...
281967,2023-05-01 10:22:33,AD97EF42-477F-42C0-B1FD-3EC83098020A,ad97ef42-477f-42c0-b1fd-3ec83098020a,$session_start,"iPhone13,2",ko-KR
2017473,2023-05-08 10:21:01,AD97EF42-477F-42C0-B1FD-3EC83098020A,ad97ef42-477f-42c0-b1fd-3ec83098020a,$session_end,"iPhone13,2",ko-KR
2017483,2023-05-08 10:21:02,fvscVUlvnnTqnH8FopkHiTIu3jg1,ad97ef42-477f-42c0-b1fd-3ec83098020a,$session_start,"iPhone13,2",ko-KR
2019039,2023-05-08 10:24:05,fvscVUlvnnTqnH8FopkHiTIu3jg1,ad97ef42-477f-42c0-b1fd-3ec83098020a,$session_end,"iPhone13,2",ko-KR
2019048,2023-05-08 10:24:06,AD97EF42-477F-42C0-B1FD-3EC83098020A,ad97ef42-477f-42c0-b1fd-3ec83098020a,$session_start,"iPhone13,2",ko-KR

In [ ]:
# event_key Í∞Ä buttonÏù∏ Í≤ΩÏö∞ Ï†úÏô∏ÌïòÍ≥† ÌôïÏù∏
merged_0430_0530_df[(merged_0430_0530_df['device_id'] == 'ad97ef42-477f-42c0-b1fd-3ec83098020a') & \
                     (merged_0430_0530_df['event_key'] != 'button')]

,event_datetime,session_id,device_id,event_key,devicemodel,language
271364,2023-05-01 10:18:15,AD97EF42-477F-42C0-B1FD-3EC83098020A,ad97ef42-477f-42c0-b1fd-3ec83098020a,$session_end,"iPhone13,2",ko-KR
271412,2023-05-01 10:18:16,jMa8EuiY23XL5yvOaiFL4Vcqxo32,ad97ef42-477f-42c0-b1fd-3ec83098020a,$session_start,"iPhone13,2",ko-KR
273083,2023-05-01 10:18:56,jMa8EuiY23XL5yvOaiFL4Vcqxo32,ad97ef42-477f-42c0-b1fd-3ec83098020a,$session_end,"iPhone13,2",ko-KR
273106,2023-05-01 10:18:57,AD97EF42-477F-42C0-B1FD-3EC83098020A,ad97ef42-477f-42c0-b1fd-3ec83098020a,$session_start,"iPhone13,2",ko-KR
273525,2023-05-01 10:19:08,AD97EF42-477F-42C0-B1FD-3EC83098020A,ad97ef42-477f-42c0-b1fd-3ec83098020a,$session_end,"iPhone13,2",ko-KR
273574,2023-05-01 10:19:10,jMa8EuiY23XL5yvOaiFL4Vcqxo32,ad97ef42-477f-42c0-b1fd-3ec83098020a,$session_start,"iPhone13,2",ko-KR
274000,2023-05-01 10:19:21,jMa8EuiY23XL5yvOaiFL4Vcqxo32,ad97ef42-477f-42c0-b1fd-3ec83098020a,$session_end,"iPhone13,2",ko-KR
274055,2023-05-01 10:19:22,AD97EF42-477F-42C0-B1FD-3EC83098020A,ad97ef42-477f-42c0-b1fd-3ec83098020a,$session_start,"iPhone13,2",ko-KR
275086,2023-05-01 10:19:49,AD97EF42-477F-42C0-B1FD-3EC83098020A,ad97ef42-477f-42c0-b1fd-3ec83098020a,$session_end,"iPhone13,2",ko-KR
275148,2023-05-01 10:19:51,YBj6GbybYJU17f2Z4YMAexV7ys72,ad97ef42-477f-42c0-b1fd-3ec83098020a,$session_start,"iPhone13,2",ko-KR
277057,2023-05-01 10:20:36,YBj6GbybYJU17f2Z4YMAexV7ys72,ad97ef42-477f-42c0-b1fd-3ec83098020a,$session_end,"iPhone13,2",ko-KR
277110,2023-05-01 10:20:37,AD97EF42-477F-42C0-B1FD-3EC83098020A,ad97ef42-477f-42c0-b1fd-3ec83098020a,$session_start,"iPhone13,2",ko-KR
280067,2023-05-01 10:21:46,AD97EF42-477F-42C0-B1FD-3EC83098020A,ad97ef42-477f-42c0-b1fd-3ec83098020a,$session_end,"iPhone13,2",ko-KR
280119,2023-05-01 10:21:48,YZi8n8VzB4S9EVp3JjWY9GFyTI63,ad97ef42-477f-42c0-b1fd-3ec83098020a,$session_start,"iPhone13,2",ko-KR
281923,2023-05-01 10:22:32,YZi8n8VzB4S9EVp3JjWY9GFyTI63,ad97ef42-477f-42c0-b1fd-3ec83098020a,$session_end,"iPhone13,2",ko-KR
281967,2023-05-01 10:22:33,AD97EF42-477F-42C0-B1FD-3EC83098020A,ad97ef42-477f-42c0-b1fd-3ec83098020a,$session_start,"iPhone13,2",ko-KR
2017473,2023-05-08 10:21:01,AD97EF42-477F-42C0-B1FD-3EC83098020A,ad97ef42-477f-42c0-b1fd-3ec83098020a,$session_end,"iPhone13,2",ko-KR
2017483,2023-05-08 10:21:02,fvscVUlvnnTqnH8FopkHiTIu3jg1,ad97ef42-477f-42c0-b1fd-3ec83098020a,$session_start,"iPhone13,2",ko-KR
2019039,2023-05-08 10:24:05,fvscVUlvnnTqnH8FopkHiTIu3jg1,ad97ef42-477f-42c0-b1fd-3ec83098020a,$session_end,"iPhone13,2",ko-KR
2019048,2023-05-08 10:24:06,AD97EF42-477F-42C0-B1FD-3EC83098020A,ad97ef42-477f-42c0-b1fd-3ec83098020a,$session_start,"iPhone13,2",ko-KR

- session_idÍ∞Ä Í∞ôÏùÑ Îïå session_startÏôÄ session_endÍ∞Ä Ïûò ÏßùÏßÄÏñ¥Ï†∏ÏÑú ÎÇòÏò¥
- Ïñ¥Îñ§ session_idÎäî device_idÏôÄ Í∞ôÏùÄÎç∞ ÏïåÌååÎ≤≥Îßå ÏÜåÎ¨∏Ïûê -> ÎåÄÎ¨∏ÏûêÎ°ú Î∞îÎÄú (AD97EF42-477F-42C0-B1FD-3EC83098020A)

In [18]:
# devide_id Í∏∞Ï§Ä ÌïòÎÇò Îçî ÌôïÏù∏
# event_key Í∞Ä buttonÏù∏ Í≤ΩÏö∞ Ï†úÏô∏ÌïòÍ≥† ÌôïÏù∏
merged_0430_0530_df[(merged_0430_0530_df['device_id'] == 'bb47b31f-cf5b-41b6-b859-aafbd375b519') & \
                     (merged_0430_0530_df['event_key'] != 'button')]

,event_datetime,session_id,device_id,event_key,devicemodel,language
1319302,2023-05-07 18:37:07,bb47b31f-cf5b-41b6-b859-aafbd375b519,bb47b31f-cf5b-41b6-b859-aafbd375b519,$session_start,SM-G981N,ko
1319404,2023-05-07 18:37:25,bb47b31f-cf5b-41b6-b859-aafbd375b519,bb47b31f-cf5b-41b6-b859-aafbd375b519,$session_end,SM-G981N,ko
1319408,2023-05-07 18:37:26,bIuEKENvxKYdTHRTDj215UpDXAw2,bb47b31f-cf5b-41b6-b859-aafbd375b519,$session_start,SM-G981N,ko
1326496,2023-05-07 18:56:04,bIuEKENvxKYdTHRTDj215UpDXAw2,bb47b31f-cf5b-41b6-b859-aafbd375b519,$session_end,SM-G981N,ko
1347648,2023-05-07 19:41:47,bIuEKENvxKYdTHRTDj215UpDXAw2,bb47b31f-cf5b-41b6-b859-aafbd375b519,$session_start,SM-G981N,ko
1348019,2023-05-07 19:42:36,bIuEKENvxKYdTHRTDj215UpDXAw2,bb47b31f-cf5b-41b6-b859-aafbd375b519,$session_end,SM-G981N,ko
1387827,2023-05-07 20:52:59,bIuEKENvxKYdTHRTDj215UpDXAw2,bb47b31f-cf5b-41b6-b859-aafbd375b519,$session_start,SM-G981N,ko
1388087,2023-05-07 20:53:23,bIuEKENvxKYdTHRTDj215UpDXAw2,bb47b31f-cf5b-41b6-b859-aafbd375b519,$session_end,SM-G981N,ko
1388093,2023-05-07 20:53:23,bb47b31f-cf5b-41b6-b859-aafbd375b519,bb47b31f-cf5b-41b6-b859-aafbd375b519,$session_start,SM-G981N,ko
1388236,2023-05-07 20:53:38,bb47b31f-cf5b-41b6-b859-aafbd375b519,bb47b31f-cf5b-41b6-b859-aafbd375b519,$session_end,SM-G981N,ko
1388251,2023-05-07 20:53:39,chdax9D5bWYKAxrtXeLPnfJ49Lp1,bb47b31f-cf5b-41b6-b859-aafbd375b519,$session_start,SM-G981N,ko
1580488,2023-05-08 01:33:09,chdax9D5bWYKAxrtXeLPnfJ49Lp1,bb47b31f-cf5b-41b6-b859-aafbd375b519,$session_end,SM-G981N,ko
1638536,2023-05-08 02:53:26,chdax9D5bWYKAxrtXeLPnfJ49Lp1,bb47b31f-cf5b-41b6-b859-aafbd375b519,$session_start,SM-G981N,ko
1640740,2023-05-08 02:56:25,chdax9D5bWYKAxrtXeLPnfJ49Lp1,bb47b31f-cf5b-41b6-b859-aafbd375b519,$session_end,SM-G981N,ko
1640742,2023-05-08 02:56:25,bb47b31f-cf5b-41b6-b859-aafbd375b519,bb47b31f-cf5b-41b6-b859-aafbd375b519,$session_start,SM-G981N,ko
1641170,2023-05-08 02:57:02,bb47b31f-cf5b-41b6-b859-aafbd375b519,bb47b31f-cf5b-41b6-b859-aafbd375b519,$session_end,SM-G981N,ko
1641190,2023-05-08 02:57:03,bIuEKENvxKYdTHRTDj215UpDXAw2,bb47b31f-cf5b-41b6-b859-aafbd375b519,$session_start,SM-G981N,ko
1641731,2023-05-08 02:57:43,bIuEKENvxKYdTHRTDj215UpDXAw2,bb47b31f-cf5b-41b6-b859-aafbd375b519,$session_end,SM-G981N,ko
1641733,2023-05-08 02:57:43,bb47b31f-cf5b-41b6-b859-aafbd375b519,bb47b31f-cf5b-41b6-b859-aafbd375b519,$session_start,SM-G981N,ko
1641903,2023-05-08 02:57:57,bb47b31f-cf5b-41b6-b859-aafbd375b519,bb47b31f-cf5b-41b6-b859-aafbd375b519,$session_end,SM-G981N,ko
1641918,2023-05-08 02:57:58,chdax9D5bWYKAxrtXeLPnfJ49Lp1,bb47b31f-cf5b-41b6-b859-aafbd375b519,$session_start,SM-G981N,ko
1663590,2023-05-08 03:26:34,chdax9D5bWYKAxrtXeLPnfJ49Lp1,bb47b31f-cf5b-41b6-b859-aafbd375b519,$session_end,SM-G981N,ko
1819240,2023-05-08 06:35:17,chdax9D5bWYKAxrtXeLPnfJ49Lp1,bb47b31f-cf5b-41b6-b859-aafbd375b519,$session_start,SM-G981N,ko
1820812,2023-05-08 06:36:59,chdax9D5bWYKAxrtXeLPnfJ49Lp1,bb47b31f-cf5b-41b6-b859-aafbd375b519,$session_end,SM-G981N,ko
1820815,2023-05-08 06:36:59,bb47b31f-cf5b-41b6-b859-aafbd375b519,bb47b31f-cf5b-41b6-b859-aafbd375b519,$session_start,SM-G981N,ko
1821627,2023-05-08 06:37:51,bb47b31f-cf5b-41b6-b859-aafbd375b519,bb47b31f-cf5b-41b6-b859-aafbd375b519,$session_end,SM-G981N,ko
1821642,2023-05-08 06:37:52,bIuEKENvxKYdTHRTDj215UpDXAw2,bb47b31f-cf5b-41b6-b859-aafbd375b519,$session_start,SM-G981N,ko
1876276,2023-05-08 07:34:09,bIuEKENvxKYdTHRTDj215UpDXAw2,bb47b31f-cf5b-41b6-b859-aafbd375b519,$session_end,SM-G981N,ko
1876278,2023-05-08 07:34:10,bb47b31f-cf5b-41b6-b859-aafbd375b519,bb47b31f-cf5b-41b6-b859-aafbd375b519,$session_start,SM-G981N,ko
1876565,2023-05-08 07:34:28,bb47b31f-cf5b-41b6-b859-aafbd375b519,bb47b31f-cf5b-41b6-b859-aafbd375b519,$session_end,SM-G981N,ko
1876576,2023-05-08 07:34:29,chdax9D5bWYKAxrtXeLPnfJ49Lp1,bb47b31f-cf5b-41b6-b859-aafbd375b519,$session_start,SM-G981N,ko
2210044,2023-05-08 19:21:32,chdax9D5bWYKAxrtXeLPnfJ49Lp1,bb47b31f-cf5b-41b6-b859-aafbd375b519,$session_end,SM-G981N,ko
2210046,2023-05-08 19:21:32,bb47b31f-cf5b-41b6-b859-aafbd375b519,bb47b31f-cf5b-41b6-b859-aafbd375b519,$session_start,SM-G981N,ko
2210259,2023-05-08 19:22:02,bb47b31f-cf5b-41b6-b859-aafbd375b519,bb47b31f-cf5b-41b6-b859-aafbd375b519,$session_end,SM-G981N,ko
2210271,2023-05-08 19:22:03,gKFzW5K0dqeOqKyxvUH9R8PWwbE2,bb47b31f-cf5b-41b6-b859-aafbd375b519,$session_start,SM-G981N,ko
2210459,2023-05-08 19:22:28,gKFzW5K0dqeOqKyxvUH9R8PWwbE2,bb47b31f-cf5b-41b6-b859-aafbd375b519,$session_end,SM-G981N,ko
2210460,2023-05-08 19:22:28,bb47b31f-cf5b-41b6-b859-aafbd375b519,bb47b31f-cf5b-41b6-b859-aafbd375b519,$session_start,SM-G981N,ko
2211246,2023-05-08 19:24:35,bb47b31f-cf5b-41b6-b859-aafbd375b519,bb47b31f-cf5b-41b6-b859-aafbd375b519,$session_end,SM-G981N,ko
2211252,2023-05-08 19:24:36,bIuEKENvxKYdTHRTDj215UpDXAw2,bb47b31f-cf5b-41b6-b859-aafbd375b519,$session_start,SM-G981N,ko
2245691,2023-05-08 20:40:19,bIuEKENvxKYdTHRTDj215UpDXAw2,bb47b31f-cf5b-41b6-b859-aafbd375b519,$session_end,SM-G981N,ko
2245692,2023-05-08 20:40:19,bb47b31f-cf5b-41b6-b859-aafbd375b519,bb47b31f-cf5b-41b6-b859-aafbd375b519,$session_start,SM-G981N,ko
2245785,2023-05-08 20:40:31,bb47b31f-cf5b-41b6-b859-aafbd375b519,bb47b31f-cf5b-41b6-b859-aafbd375b519,$session_end,SM-G981N,ko
2245801,2023-05-08 20:40:32,chdax9D5bWYKAxrtXeLPnfJ49Lp1,bb47b31f-cf5b-41b6-b859-aafbd375b519,$session_start,SM-G981N,ko

- Ïù¥Ï†ÑÏóê ÌôïÏù∏Ìïú device_idÏôÄ ÎπÑÏä∑Ìïú ÏñëÏÉÅÏùÑ Î≥¥ÏûÑ
- session_id == device_id Ïù∏ Í≤ΩÏö∞Í∞Ä ÏûàÏùå

In [20]:
# session_idÏôÄ device_id Í∞ôÏùÄ Í≤ΩÏö∞ ÌôïÏù∏
merged_0430_0530_df[merged_0430_0530_df['session_id'] == merged_0430_0530_df['device_id']]['session_id'].nunique()

67083

- session_id Í≥†Ïú†Í∞í Í∞úÏàò : 696028
- device_id Í≥†Ïú†Í∞í Í∞úÏàò : 548954     
Í∑∏ Ï§ë, 67083Í∞úÍ∞Ä ÎèôÏùºÌï®!! (ÎåÄÎ¨∏Ïûê <-> ÏÜåÎ¨∏Ïûê ÍπåÏßÄ Îß§Ïπ≠ÌïúÎã§Î©¥ Îçî ÎßéÏïÑÏßàÏßÄÎèÑ?)

In [36]:
# ÎåÄÏÜåÎ¨∏ÏûêÎ•º Î¨¥ÏãúÌïòÍ≥† ÎπÑÍµê (Î™®Îëê ÏÜåÎ¨∏ÏûêÎ°ú Î≥ÄÌôòÌïú ÌõÑ ÎπÑÍµê)
merged_0430_0530_df[merged_0430_0530_df['session_id'].str.lower() == merged_0430_0530_df['device_id'].str.lower()]['session_id'].str.lower().nunique()

199292

- ÎåÄÏÜåÎ¨∏ÏûêÍπåÏßÄ Î≥ÄÌôòÌï¥ÏÑú Î™®Îëê Í∞ôÏùÄ Í≤ΩÏö∞ 199292Í∞ú!

In [30]:
# device_id Î≥ÑÎ°ú session_id Í∞úÏàò ÏÖåÏùÑ Îïå, 1Í∞úÏù∏ Í≤ΩÏö∞Îäî device_id == session_id Ïù∏ Í≤ΩÏö∞ÏùºÍπå? 
group_device_df = merged_0430_0530_df.groupby('device_id')['session_id'].nunique().reset_index(name = 'session_cnt')
# device_idÏóê session_id 1Í∞úÏù∏ Í≤ΩÏö∞Ïùò device_id Ï∂îÏ∂ú
device_list = group_device_df[group_device_df['session_cnt'] == 1]['device_id'].unique()
device_list

array(['0000065b-8c82-4982-b67e-ac67b1e4c38e',
       '000007c9-e103-4eb5-9777-a9084d4952df',
       '00002245-458f-4cdd-8533-b448cd43dbd2', ...,
       'ffff2485-894d-4854-b4f0-a3b5c79c23d5',
       'ffff29f0-c716-42a8-9347-3efaf7c21ca6',
       'ffff80ca-d517-40f4-bdef-e759411e1fe7'], dtype=object)

In [33]:
merged_0430_0530_df[(merged_0430_0530_df['device_id'].isin(device_list)) & (merged_0430_0530_df['device_id'] == merged_0430_0530_df['session_id'])]

,event_datetime,session_id,device_id,event_key,devicemodel,language
23651,2023-05-01 09:05:16,dc8b8d7c-03b1-42f0-9541-a88c4f282e86,dc8b8d7c-03b1-42f0-9541-a88c4f282e86,button,SM-G965N,ko
23999,2023-05-01 09:05:20,dc8b8d7c-03b1-42f0-9541-a88c4f282e86,dc8b8d7c-03b1-42f0-9541-a88c4f282e86,button,SM-G965N,ko
24124,2023-05-01 09:05:21,dc8b8d7c-03b1-42f0-9541-a88c4f282e86,dc8b8d7c-03b1-42f0-9541-a88c4f282e86,button,SM-G965N,ko
24296,2023-05-01 09:05:23,dc8b8d7c-03b1-42f0-9541-a88c4f282e86,dc8b8d7c-03b1-42f0-9541-a88c4f282e86,button,SM-G965N,ko
25514,2023-05-01 09:05:38,dc8b8d7c-03b1-42f0-9541-a88c4f282e86,dc8b8d7c-03b1-42f0-9541-a88c4f282e86,button,SM-G965N,ko
...,...,...,...,...,...,...
5465291,2023-06-06 06:12:08,5ceb4e48-d1f9-4069-96b9-98e9957911af,5ceb4e48-d1f9-4069-96b9-98e9957911af,$session_start,SM-N976N,ko
5465294,2023-06-06 06:26:30,7d6e0b00-d462-4ecb-a336-fa25adef3c61,7d6e0b00-d462-4ecb-a336-fa25adef3c61,$session_start,SM-F711N,ko
5465297,2023-06-06 07:18:25,B9CE934F-EDC8-43DC-A2DF-412EB4E05EB1,B9CE934F-EDC8-43DC-A2DF-412EB4E05EB1,$session_start,"iPhone13,2",ko-KR
5465304,2023-06-06 08:28:56,39275C5A-CEF4-4182-807B-19B2495AB6BF,39275C5A-CEF4-4182-807B-19B2495AB6BF,$session_start,"iPhone13,3",ko-KR
5465305,2023-06-06 08:46:22,9CCF2BAC-EAFA-45FD-AD19-61D656A4F0FF,9CCF2BAC-EAFA-45FD-AD19-61D656A4F0FF,$session_start,"iPhone13,1",ko-KR

- device_idÏóê session_idÍ∞Ä 1Í∞úÏù∏ 371262Í∞ú Ï§ëÏóêÏÑú 8483Í∞úÎßå device_id == session_id