# 지표 탐색 및 파이프라인 구축하기
---

### 목표
1. 지표 탐색(AARRR)
2. 파이프라인 구축을 위한 코드 작성 및 탐색

## 필요 라이브러리 정리
---
#### 1. 라이브러리 불러오기

In [1]:
## 1.필요 라이브러리 정리 
import pandas as pd

# object 형식으로 저장된 변수를 list 형식으로 바꾸기 위해서
import ast

# GCS 파일 경로에서 데이터 불러오기 위한 라이브러리
from google.cloud import storage
from google.oauth2 import service_account

# 시각화를 위한 라이브러리
import matplotlib.pyplot as plt
import koreanize_matplotlib
import seaborn as sns
import matplotlib.dates as mdates

### 2. 데이터 불러오기 실행 확인

In [2]:
## 2. GCS에서 데이터 불러오기
df = pd.read_parquet(
    "gs://my-advanced_data-bucket/votes/accounts_timelinereport.parquet",
    storage_options={"token": "/home/user/codeit_project/codeit-project-docker/config/key.json"}
)

display(df.head())

,id,reason,created_at,reported_user_id,user_id,user_question_record_id
0,28,타인을 사칭함,2023-05-06 04:44:57,874587,885082,3920588
1,37,친구를 비하하거나 조롱하는 어투,2023-05-06 05:41:19,881048,881298,4018679
2,46,친구를 비하하거나 조롱하는 어투,2023-05-06 06:26:59,887882,881945,4120914
3,64,허위 사실 언급,2023-05-06 07:07:46,888610,893684,4143049
4,65,허위 사실 언급,2023-05-06 07:07:52,888610,893684,4143049

## 데이터 가져오기
---
### 1. Votes 데이터 가져오기
### 2. Votes 데이터 내 전처리
### 3. Hackle 데이터 가져오기
### 4. Hackle 데이터 내 전처리

In [5]:
# 인증
key_path = "/home/user/codeit_project/codeit-project-docker/config/key.json"
credentials = service_account.Credentials.from_service_account_file(key_path)

# GCS 클라이언트 생성
client = storage.Client(credentials=credentials)
bucket = client.bucket("my-advanced_data-bucket")

# 'votes/' 경로에 있는 .parquet 파일 리스트 가져오기
vote_blobs = bucket.list_blobs(prefix="votes/")
vote_file_list = [f"gs://my-advanced_data-bucket/{blob.name}" for blob in vote_blobs if blob.name.endswith(".parquet")]

# 결과 확인
print("Votes files in GCS:")
print(vote_file_list)
print()

# 'hackle/' 경로에 있는 .parquet 파일 리스트 가져오기
hackle_blobs = bucket.list_blobs(prefix="hackle/")
hackle_file_list = [f"gs://my-advanced_data-bucket/{blob.name}" for blob in hackle_blobs if blob.name.endswith(".parquet")]

# 결과 확인
print("Hackle files in GCS:")
print(hackle_file_list)

Votes files in GCS:
['gs://my-advanced_data-bucket/votes/accounts_attendance.parquet', 'gs://my-advanced_data-bucket/votes/accounts_blockrecord.parquet', 'gs://my-advanced_data-bucket/votes/accounts_failpaymenthistory.parquet', 'gs://my-advanced_data-bucket/votes/accounts_friendrequest.parquet', 'gs://my-advanced_data-bucket/votes/accounts_group.parquet', 'gs://my-advanced_data-bucket/votes/accounts_nearbyschool.parquet', 'gs://my-advanced_data-bucket/votes/accounts_paymenthistory.parquet', 'gs://my-advanced_data-bucket/votes/accounts_pointhistory.parquet', 'gs://my-advanced_data-bucket/votes/accounts_school.parquet', 'gs://my-advanced_data-bucket/votes/accounts_timelinereport.parquet', 'gs://my-advanced_data-bucket/votes/accounts_user.parquet', 'gs://my-advanced_data-bucket/votes/accounts_user_contacts.parquet', 'gs://my-advanced_data-bucket/votes/accounts_userquestionrecord.parquet', 'gs://my-advanced_data-bucket/votes/accounts_userwithdraw.parquet', 'gs://my-advanced_data-bucket/votes/event_receipts.parquet', 'gs://my-advanced_data-bucket/votes/events.parquet', 'gs://my-advanced_data-bucket/votes/polls_question.parquet', 'gs://my-advanced_data-bucket/votes/polls_questionpiece.parquet', 'gs://my-advanced_data-bucket/votes/polls_questionreport.parquet', 'gs://my-advanced_data-bucket/votes/polls_questionset.parquet', 'gs://my-advanced_data-bucket/votes/polls_usercandidate.parquet']

Hackle files in GCS:
['gs://my-advanced_data-bucket/hackle/device_properties.parquet', 'gs://my-advanced_data-bucket/hackle/hackle_events.parquet', 'gs://my-advanced_data-bucket/hackle/hackle_properties.parquet', 'gs://my-advanced_data-bucket/hackle/user_properties.parquet']

In [6]:
# 결과 저장용 딕셔너리
df_dict = {}

# vote 내 각 파일을 불러와서 딕셔너리에 저장
for title in vote_file_list:
    gcs_path = title
    df_file_name = title.split('/')[-1].replace('.parquet', '')
    
    # 데이터 불러오기
    df = pd.read_parquet(gcs_path, storage_options={"token": key_path})
    
    # 딕셔너리에 저장
    df_dict[df_file_name] = df

    # 출력
    print(f"{df_file_name} 데이터 프레임 확인")
    print("="*50)
    print(df.head())
    print(f"{df_file_name} 데이터 프레임 크기 : {df.shape}")
    print()
    print(f"{df_file_name} 기본 정보 확인")
    df.info()
    print("\n" + "-"*70 + "\n")
    
# hackle 내 각 파일을 불러와서 딕셔너리에 저장
for title in hackle_file_list:
    gcs_path = title
    df_file_name = title.split('/')[-1].replace('.parquet', '')
    
    # 데이터 불러오기
    df = pd.read_parquet(gcs_path, storage_options={"token": key_path})
    
    # 딕셔너리에 저장
    df_dict[df_file_name] = df

    # 출력
    print(f"{df_file_name} 데이터 프레임 확인")
    print("="*50)
    print(df.head())
    print(f"{df_file_name} 데이터 프레임 크기 : {df.shape}")
    print()
    print(f"{df_file_name} 기본 정보 확인")
    df.info()
    print("\n" + "-"*70 + "\n")

accounts_attendance 데이터 프레임 확인
==================================================
   id                               attendance_date_list  user_id
0   1  ["2023-05-27", "2023-05-28", "2023-05-29", "20...  1446852
1   2  ["2023-05-27", "2023-05-29", "2023-05-30", "20...  1359398
2   3  ["2023-05-27", "2023-05-29", "2023-05-30", "20...  1501542
3   4  ["2023-05-27", "2023-05-28", "2023-05-29", "20...  1507767
4   5  ["2023-05-27", "2023-05-28", "2023-05-29", "20...  1287453
accounts_attendance 데이터 프레임 크기 : (349637, 3)

accounts_attendance 기본 정보 확인
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 349637 entries, 0 to 349636
Data columns (total 3 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    349637 non-null  int64
 1   attendance_date_list  349637 non-null  object
 2   user_id               349637 non-null  int64
dtypes: int64(2), object(1)
memory usage: 8.0+ MB

----------------------------------------------------------------------

accounts_blockrecord 데이터 프레임 확인
==================================================
   id              reason          created_at  block_user_id  user_id
0   1               그냥... 2023-05-04 23:01:53         867483   878476
1   2         친구 사이가 어색해짐 2023-05-05 01:17:08         867190   867564
2   3  나랑 관련 없는 질문을 자꾸 보냄 2023-05-05 01:50:55         875110   875261
3   6               그냥... 2023-05-05 05:21:52         883696   883511
4   7               그냥... 2023-05-05 06:40:34         871349   870177
accounts_blockrecord 데이터 프레임 크기 : (19482, 5)

accounts_blockrecord 기본 정보 확인
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19482 entries, 0 to 19481
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             19482 non-null  int64
 1   reason         19482 non-null  object
 2   created_at     19482 non-null  datetime64[ns]
 3   block_user_id  19482 non-null  int64
 4   user_id        19482 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 761.1+ KB

----------------------------------------------------------------------

accounts_failpaymenthistory 데이터 프레임 확인
==================================================
   id   productId phone_type          created_at  user_id
0   6   heart.200          A 2023-05-14 05:49:22  1055891
1   7   heart.777          A 2023-05-14 08:17:21  1152151
2   8   heart.777          A 2023-05-14 10:11:46   986200
3   9  heart.1000          A 2023-05-14 11:53:09  1028261
4  10   heart.777          A 2023-05-14 12:30:47  1235730
accounts_failpaymenthistory 데이터 프레임 크기 : (163, 5)

accounts_failpaymenthistory 기본 정보 확인
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163 entries, 0 to 162
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          163 non-null    int64
 1   productId   56 non-null     object
 2   phone_type  163 non-null    object
 3   created_at  163 non-null    datetime64[ns]
 4   user_id     163 non-null    int64
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 6.5+ KB

----------------------------------------------------------------------

accounts_friendrequest 데이터 프레임 확인
==================================================
   id status          created_at          updated_at  receive_user_id  \
0   7      P 2023-04-17 18:29:11 2023-04-17 18:29:11           831962
1  10      A 2023-04-17 18:29:11 2023-04-22 06:02:53           832151
2  11      A 2023-04-17 18:29:11 2023-04-18 19:28:41           832340
3  13      A 2023-04-17 18:29:11 2023-04-19 11:05:04           833041
4  20      P 2023-04-17 18:29:11 2023-04-17 18:29:11           834415

   send_user_id
0        837521
1        837521
2        837521
3        837521
4        837521
accounts_friendrequest 데이터 프레임 크기 : (17147175, 6)

accounts_friendrequest 기본 정보 확인
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17147175 entries, 0 to 17147174
Data columns (total 6 columns):
 #   Column           Dtype
---  ------           -----
 0   id               int64
 1   status           object
 2   created_at       datetime64[ns]
 3   updated_at       datetime64[ns]
 4   receive_user_id  int64
 5   send_user_id     int64
dtypes: datetime64[ns](2), int64(3), object(1)
memory usage: 784.9+ MB

----------------------------------------------------------------------

accounts_group 데이터 프레임 확인
==================================================
   id  grade  class_num  school_id
0   1      1          1          1
1   8      3          2          1
2   9      3          3          1
3  10      2          2          1
4  11      2          3          1
accounts_group 데이터 프레임 크기 : (84515, 4)

accounts_group 기본 정보 확인
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84515 entries, 0 to 84514
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         84515 non-null  int64
 1   grade      84515 non-null  int64
 2   class_num  84515 non-null  int64
 3   school_id  84515 non-null  int64
dtypes: int64(4)
memory usage: 2.6 MB

----------------------------------------------------------------------

accounts_nearbyschool 데이터 프레임 확인
==================================================
       id  distance  nearby_school_id  school_id
0  119021  0.004564                 6          7
1  119022  0.010787                13          7
2  119023  0.012928                20          7
3  119024  0.013590                 4          7
4  119025  0.014122                24          7
accounts_nearbyschool 데이터 프레임 크기 : (59500, 4)

accounts_nearbyschool 기본 정보 확인
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59500 entries, 0 to 59499
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                59500 non-null  int64
 1   distance          59500 non-null  float64
 2   nearby_school_id  59500 non-null  int64
 3   school_id         59500 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 1.8 MB

----------------------------------------------------------------------

accounts_paymenthistory 데이터 프레임 확인
==================================================
   id  productId phone_type          created_at  user_id
0   6  heart.777          A 2023-05-13 21:28:34  1211127
1   7  heart.777          A 2023-05-13 21:29:39  1151343
2   8  heart.777          A 2023-05-13 21:31:33  1002147
3   9  heart.777          A 2023-05-13 21:31:39  1095040
4  11  heart.777          A 2023-05-13 21:34:32  1164081
accounts_paymenthistory 데이터 프레임 크기 : (95140, 5)

accounts_paymenthistory 기본 정보 확인
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95140 entries, 0 to 95139
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          95140 non-null  int64
 1   productId   95140 non-null  object
 2   phone_type  95140 non-null  object
 3   created_at  95140 non-null  datetime64[ns]
 4   user_id     95140 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 3.6+ MB

----------------------------------------------------------------------

accounts_pointhistory 데이터 프레임 확인
==================================================
       id  delta_point          created_at  user_id  user_question_record_id
0  790629            9 2023-04-28 12:27:49   849436                 771777.0
1  790652            9 2023-04-28 12:28:02   849436                 771800.0
2  790664            5 2023-04-28 12:28:09   849436                 771812.0
3  790680           13 2023-04-28 12:28:16   849436                 771828.0
4  790703            5 2023-04-28 12:28:26   849436                 771851.0
accounts_pointhistory 데이터 프레임 크기 : (2338918, 5)

accounts_pointhistory 기본 정보 확인
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2338918 entries, 0 to 2338917
Data columns (total 5 columns):
 #   Column                   Dtype
---  ------                   -----
 0   id                       int64
 1   delta_point              int64
 2   created_at               datetime64[ns]
 3   user_id                  int64
 4   user_question_record_id  float64
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 89.2 MB

----------------------------------------------------------------------

accounts_school 데이터 프레임 확인
==================================================
   id   address  student_count school_type
0   4  충청북도 충주시            239           H
1   5  충청북도 충주시            160           M
2   6  충청북도 충주시            200           H
3   7  충청북도 충주시            114           H
4   8  충청북도 충주시            139           M
accounts_school 데이터 프레임 크기 : (5951, 4)

accounts_school 기본 정보 확인
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5951 entries, 0 to 5950
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             5951 non-null   int64
 1   address        5951 non-null   object
 2   student_count  5951 non-null   int64
 3   school_type    5951 non-null   object
dtypes: int64(2), object(2)
memory usage: 186.1+ KB

----------------------------------------------------------------------

accounts_timelinereport 데이터 프레임 확인
==================================================
   id             reason          created_at  reported_user_id  user_id  \
0  28            타인을 사칭함 2023-05-06 04:44:57            874587   885082
1  37  친구를 비하하거나 조롱하는 어투 2023-05-06 05:41:19            881048   881298
2  46  친구를 비하하거나 조롱하는 어투 2023-05-06 06:26:59            887882   881945
3  64           허위 사실 언급 2023-05-06 07:07:46            888610   893684
4  65           허위 사실 언급 2023-05-06 07:07:52            888610   893684

   user_question_record_id
0                  3920588
1                  4018679
2                  4120914
3                  4143049
4                  4143049
accounts_timelinereport 데이터 프레임 크기 : (208, 6)

accounts_timelinereport 기본 정보 확인
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208 entries, 0 to 207
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       208 non-null    int64
 1   reason                   208 non-null    object
 2   created_at               208 non-null    datetime64[ns]
 3   reported_user_id         208 non-null    int64
 4   user_id                  208 non-null    int64
 5   user_question_record_id  208 non-null    int64
dtypes: datetime64[ns](1), int64(4), object(1)
memory usage: 9.9+ KB

----------------------------------------------------------------------

accounts_user 데이터 프레임 확인
==================================================
       id  is_superuser  is_staff gender  point  \
0  831956             1         1   None    600
1  831962             0         0      F   2248
2  832151             0         0      M   1519
3  832340             0         0      F     57
4  832520             0         0      M   1039

                                      friend_id_list  is_push_on  \
0  [1292473, 913158, 1488461, 1064695, 1043565, 1...           0
1  [833025, 832642, 982531, 879496, 838541, 83752...           1
2  [838785, 982531, 882567, 879496, 838541, 83649...           0
3  [841345, 982531, 838785, 963714, 882567, 83252...           1
4  [874050, 849763, 874212, 844297, 838541, 84004...           0

                  created_at block_user_id_list hide_user_id_list ban_status  \
0 2023-03-29 03:44:14.047130                 []                []          N
1 2023-03-29 05:18:56.162368                 []                []          N
2 2023-03-29 12:56:34.989468                 []                []          N
3 2023-03-29 12:56:35.020790                 []                []          N
4 2023-03-29 12:56:35.049311                 []                []          N

   report_count  alarm_count  pending_chat  pending_votes  group_id
0             0            0             0              0       NaN
1           253        40878          5499            110      12.0
2             0           37             0             47       1.0
3             0           19             0             21       1.0
4             0           29             0             15      12.0
accounts_user 데이터 프레임 크기 : (677085, 16)

accounts_user 기본 정보 확인
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 677085 entries, 0 to 677084
Data columns (total 16 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  677085 non-null  int64
 1   is_superuser        677085 non-null  int64
 2   is_staff            677085 non-null  int64
 3   gender              677083 non-null  object
 4   point               677085 non-null  int64
 5   friend_id_list      677085 non-null  object
 6   is_push_on          677085 non-null  int64
 7   created_at          677085 non-null  datetime64[ns]
 8   block_user_id_list  677085 non-null  object
 9   hide_user_id_list   677085 non-null  object
 10  ban_status          677085 non-null  object
 11  report_count        677085 non-null  int64
 12  alarm_count         677085 non-null  int64
 13  pending_chat        677085 non-null  int64
 14  pending_votes       677085 non-null  int64
 15  group_id            677082 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(9), object(5)
memory usage: 82.7+ MB

----------------------------------------------------------------------

accounts_user_contacts 데이터 프레임 확인
==================================================
      id  contacts_count invite_user_id_list  user_id
0    259              30                  []  1167696
1   1756              79                  []   863169
2  13742              21            [854615]   857205
3  13754              29                  []   851431
4  13756              28            [849318]   855476
accounts_user_contacts 데이터 프레임 크기 : (5063, 4)

accounts_user_contacts 기본 정보 확인
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5063 entries, 0 to 5062
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   5063 non-null   int64
 1   contacts_count       5063 non-null   int64
 2   invite_user_id_list  5063 non-null   object
 3   user_id              5063 non-null   int64
dtypes: int64(3), object(1)
memory usage: 158.3+ KB

----------------------------------------------------------------------

accounts_userquestionrecord 데이터 프레임 확인
==================================================
       id status          created_at  chosen_user_id  question_id  user_id  \
0  771777      C 2023-04-28 12:27:49          849469          252   849436
1  771800      C 2023-04-28 12:28:02          849446          244   849436
2  771812      C 2023-04-28 12:28:09          849454          183   849436
3  771828      C 2023-04-28 12:28:16          847375          101   849436
4  771851      C 2023-04-28 12:28:26          849477          209   849436

   question_piece_id  has_read answer_status   answer_updated_at  \
0             998458         0             N 2023-04-28 12:27:49
1             998459         0             N 2023-04-28 12:28:02
2             998460         1             N 2023-04-28 12:28:09
3             998461         0             N 2023-04-28 12:28:16
4             998462         1             N 2023-04-28 12:28:26

   report_count  opened_times
0             0             0
1             0             0
2             0             0
3             0             0
4             0             0
accounts_userquestionrecord 데이터 프레임 크기 : (1217558, 12)

accounts_userquestionrecord 기본 정보 확인
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1217558 entries, 0 to 1217557
Data columns (total 12 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   id                 1217558 non-null  int64
 1   status             1217558 non-null  object
 2   created_at         1217558 non-null  datetime64[ns]
 3   chosen_user_id     1217558 non-null  int64
 4   question_id        1217558 non-null  int64
 5   user_id            1217558 non-null  int64
 6   question_piece_id  1217558 non-null  int64
 7   has_read           1217558 non-null  int64
 8   answer_status      1217558 non-null  object
 9   answer_updated_at  1217558 non-null  datetime64[ns]
 10  report_count       1217558 non-null  int64
 11  opened_times       1217558 non-null  int64
dtypes: datetime64[ns](2), int64(8), object(2)
memory usage: 111.5+ MB

----------------------------------------------------------------------

accounts_userwithdraw 데이터 프레임 확인
==================================================
   id        reason          created_at
0  42   재밌는 질문이 없어서 2023-03-29 13:22:12
1  43  함께 할 친구가 없어서 2023-03-29 13:24:59
2  44  함께 할 친구가 없어서 2023-03-29 13:53:32
3  45  함께 할 친구가 없어서 2023-03-29 13:54:03
4  46   재밌는 질문이 없어서 2023-03-30 00:31:19
accounts_userwithdraw 데이터 프레임 크기 : (70764, 3)

accounts_userwithdraw 기본 정보 확인
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70764 entries, 0 to 70763
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          70764 non-null  int64
 1   reason      70764 non-null  object
 2   created_at  70764 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 1.6+ MB

----------------------------------------------------------------------

event_receipts 데이터 프레임 확인
==================================================
   id          created_at  event_id  user_id  plus_point
0   2 2023-06-22 09:25:16         1  1193618         500
1   3 2023-06-22 09:38:53         1   928351         500
2   4 2023-06-22 10:32:15         1   904872         500
3   5 2023-06-22 13:03:06         1   974697         500
4   6 2023-06-22 13:40:38         1  1168260         500
event_receipts 데이터 프레임 크기 : (309, 5)

event_receipts 기본 정보 확인
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309 entries, 0 to 308
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          309 non-null    int64
 1   created_at  309 non-null    datetime64[ns]
 2   event_id    309 non-null    int64
 3   user_id     309 non-null    int64
 4   plus_point  309 non-null    int64
dtypes: datetime64[ns](1), int64(4)
memory usage: 12.2 KB

----------------------------------------------------------------------

events 데이터 프레임 확인
==================================================
   id           title  plus_point event_type  is_expired          created_at
0   1   코드잇 은행 가입 이벤트         500       FCFS           1 2023-06-20 11:56:38
1   2  코드잇 멤버십 가입 이벤트        1000       FCFS           1 2023-08-08 07:43:45
2   3   예고 영상 기대평 이벤트         500       FCFS           1 2023-09-24 17:05:59
events 데이터 프레임 크기 : (3, 6)

events 기본 정보 확인
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          3 non-null      int64
 1   title       3 non-null      object
 2   plus_point  3 non-null      int64
 3   event_type  3 non-null      object
 4   is_expired  3 non-null      int64
 5   created_at  3 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 276.0+ bytes

----------------------------------------------------------------------

polls_question 데이터 프레임 확인
==================================================
    id                 question_text          created_at
0   99            가장 신비한 매력이 있는 사람은? 2023-03-31 15:22:53
1  100  "이 사람으로 한 번 살아보고 싶다" 하는 사람은? 2023-03-31 15:22:53
2  101                     미래의 틱톡커는? 2023-03-31 15:22:54
3  102               여기서 제일 특이한 친구는? 2023-03-31 15:22:54
4  103               가장 지켜주고 싶은 사람은? 2023-03-31 15:22:55

In [7]:
df_dict["device_properties"].head()

   id                             device_id device_model device_vendor
0   1  000007C9-E103-4EB5-9777-A9084D4952DF   iPhone14,7         Apple
1   2  00002245-458F-4CDD-8533-B448CD43DBD2   iPhone14,7         Apple
2   3  00012620-313A-4502-9F8D-8DAB7443215B   iPhone14,5         Apple
3   4  000137bc-80de-4bb5-b61d-df7f217a4501     SM-F711N       samsung
4   5  000227D6-B782-4367-91C4-486B76DF9E37   iPhone12,3         Apple

In [22]:
df_dict["user_properties"].head()

print(df_dict["user_properties"].user_id.duplicated().sum())

# user_properties의 user_id가 존재하고 중복값이 존재하지 않음

display(df_dict["hackle_properties"].head())

## 각 id의 중복값은

print(df_dict["hackle_properties"].user_id.duplicated().sum())
print(df_dict["hackle_properties"].device_id.duplicated().sum())
print(df_dict["hackle_properties"].session_id.duplicated().sum())

## 한 명의 유저를 특정하기 위헤서 user_id를 사용해야할까? 아니면 어떤 값을 사용해야할까?
print("\n각 id의 고유값 개수 확인")
print(df_dict["hackle_properties"].user_id.nunique())
print(df_dict["hackle_properties"].device_id.nunique())
print(df_dict["hackle_properties"].session_id.nunique())

0

,id,session_id,user_id,language,osname,osversion,versionname,device_id
0,1,4OzYh3seq3VKytpSn5pvQkZNQii1,,ko-KR,iOS,16.0,2.0.0,590E7C79-CBA0-44D8-8BE3-3C9BFABBBC74
1,2,8QXy31PQxbW9qLzq0Y1dhR8Ypm52,1046711,ko-KR,iOS,16.5.1,2.0.3,D5417226-F71B-4A9E-A180-CD072F2AB279
2,3,6bcea65d-9f40-46fc-888c-700fe707483f,1545130,ko,Android,13,2.0.5,6bcea65d-9f40-46fc-888c-700fe707483f
3,4,XVYNT6zfhFWqIg9omwg2AHDjTLx2,1224793,ko,Android,13,2.0.5,a05c1595-3e05-434b-8684-218b528bd725
4,5,XFB2SPiGfjbVhvJ3Q3DBsaT3m2B3,1329450,ko-US,iOS,16.5.1,2.0.5,EAC6C0B3-7CE8-40EA-8A91-9977C0BA5EF3

197969
273630
271734

각 id의 고유값 개수 확인
327381
251720
253616

In [30]:
# 한 사람을 특정하기 위해서 user_id에 따른 세션의 수
display(df_dict["hackle_properties"].groupby("user_id")["session_id"].nunique().sort_values(ascending=False).head(10))

# 
df_dict["hackle_properties"].groupby("user_id")["device_id"].nunique().sort_values(ascending=False).head(10)

user_id
           78197
1459833       13
1571506       13
1578652       13
1239584       12
1285353       12
855879        12
910934        11
1388873       11
1454994       10
Name: session_id, dtype: int64

user_id
           77445
1571506       13
1459833       13
1578652       13
855879        12
1285353       12
1388873       11
910934        11
1239584       11
1454994       10
Name: device_id, dtype: int64

In [ ]:
# 예시 확인인
df_dict["hackle_properties"][df_dict["hackle_properties"].user_id == "1459833"].head()

,id,session_id,user_id,language,osname,osversion,versionname,device_id
2255,2256,E7291C7D-54D9-459B-B93D-EB3DB0B5EB54,1459833,ko-KR,iOS,16.3.1,2.0.5,E7291C7D-54D9-459B-B93D-EB3DB0B5EB54
24115,24116,EF35B630-C9C9-4CEF-B70A-C5EB2703C17F,1459833,ko-KR,iOS,16.3.1,2.0.5,EF35B630-C9C9-4CEF-B70A-C5EB2703C17F
30217,30218,3CF3AF75-ECF6-4A07-A4F3-66EE0D114428,1459833,ko-KR,iOS,16.3.1,2.0.5,3CF3AF75-ECF6-4A07-A4F3-66EE0D114428
61146,61147,91AC528E-4CE9-4E3E-9283-98DD3F0E40C1,1459833,ko-KR,iOS,16.3.1,2.0.5,91AC528E-4CE9-4E3E-9283-98DD3F0E40C1
64455,64456,4BC78F41-A9F2-400E-AEC6-1C9449163BC2,1459833,ko-KR,iOS,16.3.1,2.0.3,4BC78F41-A9F2-400E-AEC6-1C9449163BC2

In [ ]:
# 유저 아이디에 따른 세션 수와 device 수를 데이터 프레임으로 제작 후 확인
user_session_device_df = df_dict["hackle_properties"].groupby("user_id").agg({
    "session_id": "nunique",
    "device_id": "nunique"
}).reset_index()
user_session_device_df.columns = ["user_id", "session_count", "device_count"]
user_session_device_df.sort_values(by="session_count", ascending=False, inplace=True)
display(user_session_device_df.head())

# session_count에 따른 수 확인
user_session_device_df["session_count"].value_counts().sort_index()

        user_id  session_count  device_count
0                        78197         77445
158765  1459833             13            13
192534  1571506             13            13
195273  1578652             13            13
88523   1239584             12            11

session_count
1        325065
2          2062
3           146
4            44
5            19
6            15
7             8
8             7
9             5
10            1
11            2
12            3
13            3
78197         1
Name: count, dtype: int64

In [58]:
display(df_dict["hackle_properties"].head())
df_dict["hackle_properties"].iloc[0].user_id

# user_id가 공백으로 되어있는 경우 제거
hackle_properties_not_null_user_id = df_dict["hackle_properties"][df_dict["hackle_properties"].user_id != ""]
hackle_properties_not_null_user_id

,id,session_id,user_id,language,osname,osversion,versionname,device_id
0,1,4OzYh3seq3VKytpSn5pvQkZNQii1,,ko-KR,iOS,16.0,2.0.0,590E7C79-CBA0-44D8-8BE3-3C9BFABBBC74
1,2,8QXy31PQxbW9qLzq0Y1dhR8Ypm52,1046711,ko-KR,iOS,16.5.1,2.0.3,D5417226-F71B-4A9E-A180-CD072F2AB279
2,3,6bcea65d-9f40-46fc-888c-700fe707483f,1545130,ko,Android,13,2.0.5,6bcea65d-9f40-46fc-888c-700fe707483f
3,4,XVYNT6zfhFWqIg9omwg2AHDjTLx2,1224793,ko,Android,13,2.0.5,a05c1595-3e05-434b-8684-218b528bd725
4,5,XFB2SPiGfjbVhvJ3Q3DBsaT3m2B3,1329450,ko-US,iOS,16.5.1,2.0.5,EAC6C0B3-7CE8-40EA-8A91-9977C0BA5EF3

,id,session_id,user_id,language,osname,osversion,versionname,device_id
1,2,8QXy31PQxbW9qLzq0Y1dhR8Ypm52,1046711,ko-KR,iOS,16.5.1,2.0.3,D5417226-F71B-4A9E-A180-CD072F2AB279
2,3,6bcea65d-9f40-46fc-888c-700fe707483f,1545130,ko,Android,13,2.0.5,6bcea65d-9f40-46fc-888c-700fe707483f
3,4,XVYNT6zfhFWqIg9omwg2AHDjTLx2,1224793,ko,Android,13,2.0.5,a05c1595-3e05-434b-8684-218b528bd725
4,5,XFB2SPiGfjbVhvJ3Q3DBsaT3m2B3,1329450,ko-US,iOS,16.5.1,2.0.5,EAC6C0B3-7CE8-40EA-8A91-9977C0BA5EF3
5,6,LztzUUFoRxdqTSPgQrX3MAAyNkM2,LztzUUFoRxdqTSPgQrX3MAAyNkM2,ko-KR,iOS,16.1,2.0.5,3F199073-9390-4137-B0B0-0DC4FC103009
...,...,...,...,...,...,...,...,...
525344,525345,b82eptestoYIkel7zGItYz9XqF43,902597,ko-KR,iOS,16.0,2.0.3,B59DCE74-59FB-4417-9DDB-F9B620D71DFC
525345,525346,KlGJxOfY4XdbxnwzPckMh4NdwBk2,1373831,ko-KR,iOS,16.5.1,2.0.5,2EB9127D-703A-495B-8A1E-6667ACA9E724
525346,525347,HGxbSi2oq4MdFVGdQx2UH3f9Aq73,1043127,en-KR,iOS,16.1.2,2.0.3,4400D84D-0353-49C9-818E-6A45D54F1039
525348,525349,gQ5GvGk7kGWwnQbOzQ8fxseQp8B2,7m8IwV5H3aaxr1bdPbbkvvJMvtf2,ko,Android,12,1.2.15,eca30324-3b48-41a6-9628-ff663896dd23
525349,525350,8jROJMvKQMgiXMvrXvqDD7o0iWr2,895807,ko-KR,iOS,16.0,2.0.0,B39CEB8B-2414-4018-91B8-CE1A75F1CCEE

In [59]:
# 유저 id 없는 경우 빼고서 session_count 차이

user_session_device_df_no_null = hackle_properties_not_null_user_id.groupby("user_id").agg({
    "session_id": "nunique",
    "device_id": "nunique"
}).reset_index()
user_session_device_df_no_null.columns = ["user_id", "session_count", "device_count"]
user_session_device_df_no_null.sort_values(by="session_count", ascending=False, inplace=True)
display(user_session_device_df_no_null.head())

# session_count에 따른 수 확인
user_session_device_df_no_null["session_count"].value_counts().sort_index()

        user_id  session_count  device_count
158764  1459833             13            13
195272  1578652             13            13
192533  1571506             13            13
103927  1285353             12            12
88522   1239584             12            11

session_count
1     325065
2       2062
3        146
4         44
5         19
6         15
7          8
8          7
9          5
10         1
11         2
12         3
13         3
Name: count, dtype: int64