In [ ]:
# í•„ìš”í•œ ë¼ì´ë¸ŒëŸ¬ë¦¬ ë¶ˆëŸ¬ì˜¤ê¸°
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import koreanize_matplotlib
import seaborn as sns
import os
import time
from ast import literal_eval  # ë¬¸ìì—´ë¡œ ì €ì¥ëœ ë”•ì…”ë„ˆë¦¬ë¥¼ ì§„ì§œ ë”•ì…”ë„ˆë¦¬ë¡œ ë³€í™˜
import multiprocessing as mp # session_start / session_end ë§¤ì¹­ ì‹œ ë³‘ë ¬ì²˜ë¦¬
import glob


# # GCS íŒŒì¼ ê²½ë¡œì—ì„œ ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸° ìœ„í•œ ë¼ì´ë¸ŒëŸ¬ë¦¬
# from google.cloud import storage
# from google.oauth2 import service_account

# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸° ë° í™•ì¸    
- device_df_filtered 7ê°œë¡œ ìª¼ê°  dfë“¤

In [3]:
# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
group_1_df = pd.read_parquet('/home/codeit_project_vm/codeit_project/codeit-project-docker/data/group_1_df.parquet')
group_2_df = pd.read_parquet('/home/codeit_project_vm/codeit_project/codeit-project-docker/data/group_2_df.parquet')
group_3_df = pd.read_parquet('/home/codeit_project_vm/codeit_project/codeit-project-docker/data/group_3_df.parquet')
group_4_df_1 = pd.read_parquet('/home/codeit_project_vm/codeit_project/codeit-project-docker/data/group_4_df_1.parquet')
group_4_df_2 = pd.read_parquet('/home/codeit_project_vm/codeit_project/codeit-project-docker/data/group_4_df_2.parquet')
group_5_df = pd.read_parquet('/home/codeit_project_vm/codeit_project/codeit-project-docker/data/group_5_df.parquet')
group_6_df = pd.read_parquet('/home/codeit_project_vm/codeit_project/codeit-project-docker/data/group_6_df.parquet')
group_7_df = pd.read_parquet('/home/codeit_project_vm/codeit_project/codeit-project-docker/data/group_7_df.parquet')

# ê° ê·¸ë£¹ë³„ í˜•íƒœ í™•ì¸ 
print(f"group_1_df: {group_1_df.shape}")
print(f"group_2_df: {group_2_df.shape}")
print(f"group_3_df: {group_3_df.shape}")
print(f"group_4_df_1: {group_4_df_1.shape}")
print(f"group_4_df_2: {group_4_df_2.shape}")
print(f"group_5_df: {group_5_df.shape}")
print(f"group_6_df: {group_6_df.shape}")
print(f"group_7_df: {group_7_df.shape}")

print(f"ì´í•© í™•ì¸: {group_1_df.shape[0] + group_2_df.shape[0] + group_3_df.shape[0] + \
    group_4_df_1.shape[0] + group_4_df_2.shape[0]+ group_5_df.shape[0] + group_6_df.shape[0] + group_7_df.shape[0]}")

group_1_df: (1303382, 3)
group_2_df: (3234971, 3)
group_3_df: (8484426, 3)
group_4_df_1: (5122630, 3)
group_4_df_2: (5127168, 3)
group_5_df: (4797121, 3)
group_6_df: (3081471, 3)
group_7_df: (2155756, 3)
ì´í•© í™•ì¸: 33306925

In [3]:
# ê·¸ë£¹ë³„ device_id ê³ ìœ ê°’ ê°œìˆ˜ í™•ì¸
print(f"group_1_df: {group_1_df['device_id'].nunique()}")
print(f"group_2_df: {group_2_df['device_id'].nunique()}")
print(f"group_3_df: {group_3_df['device_id'].nunique()}")
print(f"group_4_df_1: {group_4_df_1['device_id'].nunique()}")
print(f"group_4_df_2: {group_4_df_2['device_id'].nunique()}")
print(f"group_5_df: {group_5_df['device_id'].nunique()}")
print(f"group_6_df: {group_6_df['device_id'].nunique()}")
print(f"group_7_df: {group_7_df['device_id'].nunique()}")

group_1_df: 390929
group_2_df: 179144
group_3_df: 190563
group_4_df_1: 60542
group_4_df_2: 60543
group_5_df: 37864
group_6_df: 18785
group_7_df: 9418

In [4]:

# ê¸°ë³¸ ì •ë³´ í™•ì¸ í•¨ìˆ˜ 
def show_df_info(df, df_name):
    """
    DataFrameì˜ ê¸°ë³¸ ì •ë³´ì™€ í†µê³„ ìš”ì•½ì„ ì¶œë ¥í•˜ëŠ” í•¨ìˆ˜
    """
    print(f"\n{df_name} í˜•íƒœ:")
    display(df.shape)
    print(f"\n{df_name} ì²« 5í–‰:")
    display(df.head())
    print(f"\n{df_name} ì •ë³´:")
    df.info()
    print(f"\n{df_name} í†µê³„ ìš”ì•½:")
    display(df.describe())
    print(f"\n{df_name} í†µê³„ ìš”ì•½:")
    display(df.describe(include = 'O'))
    print(f"\n{df_name} ê²°ì¸¡ì¹˜ í™•ì¸:")
    display(df.isnull().sum())
    # print(f"\n{df_name} ì¤‘ë³µê°’ í™•ì¸:")
    # print(df.iloc[:,1:].duplicated().sum())

# ì„¸ì…˜ ë§¤ì¹­ í•¨ìˆ˜ ì ìš©

In [5]:
## ì¬ì¬ ìˆ˜ì •ë³¸

# â–¶ï¸ 1. ì •í™•í•œ ì„¸ì…˜ ë§¤ì¹­ í•¨ìˆ˜: ê°€ì¥ ê°€ê¹Œìš´ ê³¼ê±° startì— end ë§¤ì¹­
def match_sessions_buffer_corrected(group_df):
    """
    device_idë³„ë¡œ $session_startì™€ $session_endë¥¼ 1:1ë¡œ ì •í™•íˆ ë§¤ì¹­
    - end ì´ë²¤íŠ¸ê°€ ì˜¤ë©´ ê·¸ë³´ë‹¤ ì´ì „ì— ë°œìƒí•œ start ì¤‘ "ê°€ì¥ ê°€ê¹Œìš´" startì— ë§¤ì¹­
    - ë§¤ì¹­ë˜ì§€ ì•Šì€ startë‚˜ endëŠ” NaTë¡œ ë‚¨ê¹€
    """
    matched_sessions = []

    for device_id, group in group_df.groupby('device_id'):
        starts = []
        used_indices = set()
        group = group.sort_values(by='event_datetime').reset_index(drop=True)

        for idx, row in group.iterrows():
            if row['event_key'] == '$session_start':
                starts.append({
                    'index': idx,
                    'start_time': row['event_datetime'],
                    'end_time': pd.NaT,
                    'matched': False
                })

        for idx, row in group.iterrows():
            if row['event_key'] == '$session_end':
                # ê°€ëŠ¥í•œ start ì¤‘ endë³´ë‹¤ ê°™ê±°ë‚˜ ì‘ê³ , ì•„ì§ ë§¤ì¹­ë˜ì§€ ì•Šì€ ê°€ì¥ ìµœê·¼ start ì°¾ê¸°
                candidates = [s for s in starts if not s['matched'] and s['start_time'] <= row['event_datetime']]
                if candidates:
                    latest_start = max(candidates, key=lambda x: x['start_time'])
                    latest_start['end_time'] = row['event_datetime']
                    latest_start['matched'] = True
                else:
                    # ë§¤ì¹­ ì•ˆ ë˜ëŠ” endëŠ” ë”°ë¡œ ê¸°ë¡
                    matched_sessions.append({
                        'device_id': device_id,
                        'start_time': pd.NaT,
                        'end_time': row['event_datetime'],
                        'session_duration_sec': np.nan
                    })

        # ìµœì¢… ì„¸ì…˜ ë¦¬ìŠ¤íŠ¸ë¡œ êµ¬ì„±
        for s in starts:
            matched_sessions.append({
                'device_id': device_id,
                'start_time': s['start_time'],
                'end_time': s['end_time'],
                'session_duration_sec': (
                    (s['end_time'] - s['start_time']).total_seconds() if pd.notna(s['end_time']) else np.nan
                )
            })
    return pd.DataFrame(matched_sessions)


def split_by_device_id(df, n_splits):
    """
    device_id ë‹¨ìœ„ë¡œ groupby í›„ ê· ë“±í•˜ê²Œ ë¶„í• í•˜ì—¬ listë¡œ ë°˜í™˜
    í•˜ë‚˜ì˜ deviceì— ì†í•œ ëª¨ë“  ì´ë²¤íŠ¸ê°€ ê°™ì€ ë©ì–´ë¦¬ì— ìˆë„ë¡ ìœ ì§€í•¨
    """
    grouped = list(df.groupby('device_id'))
    split_size = int(np.ceil(len(grouped) / n_splits))
    return [pd.concat([g for _, g in grouped[i:i + split_size]])
            for i in range(0, len(grouped), split_size)]


def match_sessions_parallel(df, n_cores=None):
    """
    device_id ê¸°ì¤€ìœ¼ë¡œ ë¶„í• ëœ DataFrameì„ ë³‘ë ¬ ì²˜ë¦¬í•˜ì—¬ ì„¸ì…˜ ë§¤ì¹­
    """
    if n_cores is None:
        n_cores = mp.cpu_count()

    # ì •ë ¬: ë³‘ë ¬ ì²˜ë¦¬ ì „ì— ì „ì²´ë¥¼ ì •ë ¬í•´ì•¼ ì•ˆì •ì„± í™•ë³´
    df = df.sort_values(by=['device_id', 'event_datetime']).reset_index(drop=True)
    
    # device_id ê¸°ì¤€ìœ¼ë¡œ ë¶„í• 
    df_splits = split_by_device_id(df, n_cores)

    # ë³‘ë ¬ ì‹¤í–‰
    with mp.Pool(n_cores) as pool:
        results = pool.map(match_sessions_buffer_corrected, df_splits)

    return pd.concat(results, ignore_index=True)

In [ ]:
# ì‘ì€ê±°ë¶€í„°!! ê·¸ë£¹ 7
matched_group_7_df = match_sessions_parallel(group_7_df, n_cores=3) # 3m 56.9s

In [8]:
matched_group_7_df.to_parquet(f"../data/matched_group_7_df.parquet", engine="pyarrow", compression="snappy")

In [ ]:
# ê·¸ë£¹ 6
matched_group_6_df = match_sessions_parallel(group_6_df, n_cores=3) # 5ë¶„ 16ì´ˆ

In [10]:
matched_group_6_df.to_parquet(f"../data/matched_group_6_df.parquet", engine="pyarrow", compression="snappy")

In [ ]:
# ê·¸ë£¹ 5
matched_group_5_df = match_sessions_parallel(group_5_df, n_cores=3) # 10ë¶„ 13ì´ˆ

In [12]:
matched_group_5_df.to_parquet(f"../data/matched_group_5_df.parquet", engine="pyarrow", compression="snappy")

In [ ]:
# ê·¸ë£¹ 4_1
matched_group_4_df_1 = match_sessions_parallel(group_4_df_1, n_cores=3) # 17ë¶„ 12ì´ˆ

In [14]:
matched_group_4_df_1.to_parquet(f"../data/matched_group_4_df_1.parquet", engine="pyarrow", compression="snappy")

In [ ]:
# ê·¸ë£¹ 4_2
matched_group_4_df_2 = match_sessions_parallel(group_4_df_2, n_cores=3)
matched_group_4_df_2.to_parquet(f"../data/matched_group_4_df_2.parquet", engine="pyarrow", compression="snappy") # 17ë¶„ 1ì´ˆ

## group_1 ~ 3 ë‹¤ì‹œ ìª¼ê°œê¸°!!!

In [ ]:
############ ê·¸ë£¹ 1,2,3ì€ ë‹¤ì‹œ ìª¼ê°œê¸°! ############

In [6]:
def split_group_by_device_id(df, n_parts):
    """
    device_id ê¸°ì¤€ìœ¼ë¡œ DataFrameì„ n_partsë¡œ ë¶„í• 
    ê° device_idì— í•´ë‹¹í•˜ëŠ” ëª¨ë“  í–‰ì´ ê°™ì€ ì¡°ê°ì— ë“¤ì–´ê°€ë„ë¡ ë³´ì¥
    """
    unique_ids = df['device_id'].unique()
    split_ids = np.array_split(unique_ids, n_parts)

    return [df[df['device_id'].isin(split_id)] for split_id in split_ids]

In [7]:
# group_1 ìª¼ê°œê¸°
group_1_df_1, group_1_df_2, group_1_df_3 = split_group_by_device_id(group_1_df, n_parts=3)

# group_2 ìª¼ê°œê¸°
group_2_df_1, group_2_df_2 = split_group_by_device_id(group_2_df, n_parts=2)

# group_3 ìª¼ê°œê¸°
group_3_df_1, group_3_df_2, group_3_df_3 = split_group_by_device_id(group_3_df, n_parts=3)

# í™•ì¸
for i, g in enumerate([group_1_df_1, group_1_df_2, group_1_df_3], 1):
    print(f"group_1_df_{i}: {g.shape}, device_id: {g['device_id'].nunique()}")

for i, g in enumerate([group_2_df_1, group_2_df_2], 1):
    print(f"group_2_df_{i}: {g.shape}, device_id: {g['device_id'].nunique()}")

for i, g in enumerate([group_3_df_1, group_3_df_2, group_3_df_3], 1):
    print(f"group_3_df_{i}: {g.shape}, device_id: {g['device_id'].nunique()}")

group_1_df_1: (433672, 3), device_id: 130310
group_1_df_2: (433121, 3), device_id: 130310
group_1_df_3: (436589, 3), device_id: 130309
group_2_df_1: (1617482, 3), device_id: 89572
group_2_df_2: (1617489, 3), device_id: 89572
group_3_df_1: (2827046, 3), device_id: 63521
group_3_df_2: (2828521, 3), device_id: 63521
group_3_df_3: (2828859, 3), device_id: 63521

**ìµœì¢… device_df ë¶„í• **    
group_1_df_1: (433672, 3), device_id: 130310<br>
group_1_df_2: (433121, 3), device_id: 130310<br>
group_1_df_3: (436589, 3), device_id: 130309<br>
group_2_df_1: (1617482, 3), device_id: 89572<br>
group_2_df_2: (1617489, 3), device_id: 89572<br>
group_3_df_1: (2827046, 3), device_id: 63521<br>
group_3_df_2: (2828521, 3), device_id: 63521<br>
group_3_df_3: (2828859, 3), device_id: 63521<br>
group_4_df_1: (5122630, 3), device_id: 60542<br>
group_4_df_2: (5127168, 3), device_id: 60543<br>
group_5_df: (4797121, 3), device_id: 37864<br>
group_6_df: (3081471, 3), device_id: 18785<br>
group_7_df: (2155756, 3), device_id: 9418<br>
ì´í•© í™•ì¸: 33306925

In [ ]:
# ê·¸ë£¹ 3-1
matched_group_3_df_1 = match_sessions_parallel(group_3_df_1, n_cores=3)
matched_group_3_df_1.to_parquet(f"../data/matched_group_3_df_1.parquet", engine="pyarrow", compression="snappy") # 14ë¶„ 35ì´ˆ

In [ ]:
# ê·¸ë£¹ 3-2
matched_group_3_df_2 = match_sessions_parallel(group_3_df_2, n_cores=3)
matched_group_3_df_2.to_parquet(f"../data/matched_group_3_df_2.parquet", engine="pyarrow", compression="snappy") # 14ë¶„ 10ì´ˆ

In [ ]:
# ê·¸ë£¹ 3-3
matched_group_3_df_3 = match_sessions_parallel(group_3_df_3, n_cores=3)
matched_group_3_df_3.to_parquet(f"../data/matched_group_3_df_3.parquet", engine="pyarrow", compression="snappy") # 14ë¶„ 24ì´ˆ

In [ ]:
# ê·¸ë£¹ 2-1
matched_group_2_df_1 = match_sessions_parallel(group_2_df_1, n_cores=3)
matched_group_2_df_1.to_parquet(f"../data/matched_group_2_df_1.parquet", engine="pyarrow", compression="snappy") # 23ë¶„

In [ ]:
# ê·¸ë£¹ 2-2
matched_group_2_df_2 = match_sessions_parallel(group_2_df_2, n_cores=3)
matched_group_2_df_2.to_parquet(f"../data/matched_group_2_df_2.parquet", engine="pyarrow", compression="snappy") # 22ë¶„ 36ì´ˆ

In [ ]:
# ê·¸ë£¹ 1-1
matched_group_1_df_1 = match_sessions_parallel(group_1_df_1, n_cores=3)
matched_group_1_df_1.to_parquet(f"../data/matched_group_1_df_1.parquet", engine="pyarrow", compression="snappy") # 48ë¶„ 19ì´ˆ

In [ ]:
# ê·¸ë£¹ 1-2
matched_group_1_df_2 = match_sessions_parallel(group_1_df_2, n_cores=3)
matched_group_1_df_2.to_parquet(f"../data/matched_group_1_df_2.parquet", engine="pyarrow", compression="snappy") # 45ë¶„ 54ì´ˆ

In [ ]:
# ê·¸ë£¹ 1-3
matched_group_1_df_3 = match_sessions_parallel(group_1_df_3, n_cores=3)
matched_group_1_df_3.to_parquet(f"../data/matched_group_1_df_3.parquet", engine="pyarrow", compression="snappy") # 46ë¶„ 26ì´ˆ

In [19]:
matched_group_1_df_3.head()

,device_id,start_time,end_time,session_duration_sec
0,aa6d0849-b138-41c8-92a8-f1d13585c9ec,2023-05-24 04:23:47,NaT,NaN
1,aa6d0849-b138-41c8-92a8-f1d13585c9ec,2023-05-24 04:29:11,NaT,NaN
2,aa6d7143-b240-4377-b3ec-e1d1731e7fb9,2023-05-13 08:38:41,NaT,NaN
3,aa6d9b87-0e49-45ed-8ec6-8c9a5ffade89,2023-07-10 00:25:38,NaT,NaN
4,aa6daf24-0059-4eaa-907e-f677de29dccb,2023-05-12 06:13:02,2023-05-12 06:13:40,38.0

In [ ]:
# # group_1 ~ group_3ê¹Œì§€ ë¶„í• ëœ ì„¸ì…˜ ë§¤ì¹­ ì§„í–‰ ë° ì¤‘ê°„ ì €ì¥ /// ì™œ í•œêº¼ë²ˆì— í•˜ë ¤ê³ ë§Œ í•˜ë©´ ë¬´í•œ ì‹¤í–‰ì´ëƒ...

# group_dfs = [
#     group_1_df_1, group_1_df_2, group_1_df_3,
#     group_2_df_1, group_2_df_2,
#     group_3_df_1, group_3_df_2, group_3_df_3
# ]

# results = []
# save_dir = "../data"  # ì €ì¥ ê²½ë¡œ
# os.makedirs(save_dir, exist_ok=True)

# for i, group_df in enumerate(group_dfs, 1):
#     print(f"ğŸš€ Processing group {i} with shape {group_df.shape}")

#     try:
#         result = match_sessions_parallel(group_df, n_cores=3)

#         # ê²°ê³¼ ì €ì¥
#         save_path = os.path.join(save_dir, f"group_{i}_matched.parquet")
#         result.to_parquet(save_path, engine="pyarrow", compression="snappy")

#         print(f"âœ… group_{i} ì €ì¥ ì™„ë£Œ: {result.shape}")
#         results.append(result)

#     except Exception as e:
#         print(f"âŒ group_{i} ì²˜ë¦¬ ì¤‘ ì—ëŸ¬ ë°œìƒ: {e}")

# matched_group_df ë‹¤ì‹œ í•˜ë‚˜ë¡œ ë³‘í•©

In [ ]:
# matched df ëª¨ë‘ í•©ì¹˜ê¸°

# ë°ì´í„° ë””ë ‰í† ë¦¬ ì§€ì •
data_dir = "../data"

# matched_group_*.parquet íŒŒì¼ ê²½ë¡œ ê°€ì ¸ì˜¤ê¸°
matched_files = glob.glob(os.path.join(data_dir, "matched_group_*.parquet"))

# íŒŒì¼ì´ ìˆëŠ”ì§€ í™•ì¸
if not matched_files:
    raise FileNotFoundError("âš ï¸ matched_group_*.parquet íŒŒì¼ì„ ì°¾ì„ ìˆ˜ ì—†ìŠµë‹ˆë‹¤.")

# ë³‘í•©
dfs = []
for f in matched_files:
    try:
        df = pd.read_parquet(f)
        dfs.append(df)
    except Exception as e:
        print(f"âŒ ì˜¤ë¥˜ ë°œìƒ: {f} â†’ {e}")

matched_device_df = pd.concat(dfs, ignore_index=True)

# ì €ì¥
output_path = os.path.join(data_dir, "matched_device_df.parquet")
matched_device_df.to_parquet(output_path, engine="pyarrow", compression="snappy")

print(f"âœ… ë³‘í•© ë° ì €ì¥ ì™„ë£Œ: {matched_device_df.shape}, ì €ì¥ ìœ„ì¹˜ â†’ {output_path}")

âœ… ë³‘í•© ë° ì €ì¥ ì™„ë£Œ: (19984291, 4), ì €ì¥ ìœ„ì¹˜ â†’ ../data/matched_device_df.parquet

In [21]:
# ë³‘í•©ëœ matched_device_df í™•ì¸í•˜ê¸°
merged_df_test = pd.read_parquet("/home/codeit_project_vm/codeit_project/codeit-project-docker/data/matched_device_df.parquet")

print(merged_df_test.shape)
merged_df_test.head()

(19984291, 4)

,device_id,start_time,end_time,session_duration_sec
0,00018a1a-4204-4efe-8a7f-b4b591d7bb2d,2023-05-11 21:47:43,2023-05-11 21:48:05,22.0
1,00018a1a-4204-4efe-8a7f-b4b591d7bb2d,2023-05-11 21:48:06,2023-05-11 21:49:50,104.0
2,00018a1a-4204-4efe-8a7f-b4b591d7bb2d,2023-05-11 22:52:45,2023-05-12 00:49:43,7018.0
3,00018a1a-4204-4efe-8a7f-b4b591d7bb2d,2023-05-12 03:23:34,2023-05-12 03:24:09,35.0
4,00018a1a-4204-4efe-8a7f-b4b591d7bb2d,2023-05-12 03:26:37,2023-05-12 04:44:56,4699.0

In [ ]:
merged_df_test['device_id'].nunique() # device_id ê³ ìœ ê°’ ìœ ì‹¤ ì—†ì´ ë³‘í•© ì™„ë£Œ!!

947788