In [ ]:
import pandas as pd

In [1]:
pip install gcsfs pyarrow

Requirement already satisfied: gcsfs in /usr/local/lib/python3.11/site-packages (2025.5.1)
Requirement already satisfied: pyarrow in /usr/local/lib/python3.11/site-packages (20.0.0)
Requirement already satisfied: aiohttp!=4.0.0a0,!=4.0.0a1 in /usr/local/lib/python3.11/site-packages (from gcsfs) (3.12.0)
Requirement already satisfied: decorator>4.1.2 in /usr/local/lib/python3.11/site-packages (from gcsfs) (5.2.1)
Requirement already satisfied: fsspec==2025.5.1 in /usr/local/lib/python3.11/site-packages (from gcsfs) (2025.5.1)
Requirement already satisfied: google-auth>=1.2 in /usr/local/lib/python3.11/site-packages (from gcsfs) (2.40.2)
Requirement already satisfied: google-auth-oauthlib in /usr/local/lib/python3.11/site-packages (from gcsfs) (1.2.2)
Requirement already satisfied: google-cloud-storage in /usr/local/lib/python3.11/site-packages (from gcsfs) (3.1.0)
Requirement already satisfied: requests in /usr/local/lib/python3.11/site-packages (from gcsfs) (2.32.3)
Requirement already satisfied: aiohappyeyeballs>=2.5.0 in /usr/local/lib/python3.11/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (2.6.1)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.11/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (1.3.2)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.11/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (25.3.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.11/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (1.6.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.11/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (6.4.4)
Requirement already satisfied: propcache>=0.2.0 in /usr/local/lib/python3.11/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (0.3.1)
Requirement already satisfied: yarl<2.0,>=1.17.0 in /usr/local/lib/python3.11/site-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (1.20.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.11/site-packages (from google-auth>=1.2->gcsfs) (5.5.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.11/site-packages (from google-auth>=1.2->gcsfs) (0.4.2)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.11/site-packages (from google-auth>=1.2->gcsfs) (4.9.1)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.11/site-packages (from google-auth-oauthlib->gcsfs) (2.0.0)
Requirement already satisfied: google-api-core<3.0.0dev,>=2.15.0 in /usr/local/lib/python3.11/site-packages (from google-cloud-storage->gcsfs) (2.24.2)
Requirement already satisfied: google-cloud-core<3.0dev,>=2.4.2 in /usr/local/lib/python3.11/site-packages (from google-cloud-storage->gcsfs) (2.4.3)
Requirement already satisfied: google-resumable-media>=2.7.2 in /usr/local/lib/python3.11/site-packages (from google-cloud-storage->gcsfs) (2.7.2)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /usr/local/lib/python3.11/site-packages (from google-cloud-storage->gcsfs) (1.7.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/site-packages (from requests->gcsfs) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/site-packages (from requests->gcsfs) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/site-packages (from requests->gcsfs) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/site-packages (from requests->gcsfs) (2025.4.26)
Requirement already satisfied: googleapis-common-protos<2.0.0,>=1.56.2 in /usr/local/lib/python3.11/site-packages (from google-api-core<3.0.0dev,>=2.15.0->google-cloud-storage->gcsfs) (1.70.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<7.0.0,>=3.19.5 in /usr/local/lib/python3.11/site-packages (from google-api-core<3.0.0dev,>=2.15.0->google-cloud-storage->gcsfs) (5.29.4)
Requirement already satisfied: proto-plus<2.0.0,>=1.22.3 in /usr/local/lib/python3.11/site-packages (from google-api-core<3.0.0dev,>=2.15.0->google-cloud-storage->gcsfs) (1.26.1)
Requirement already satisfied: pyasn1<0.7.0,>=0.6.1 in /usr/local/lib/python3.11/site-packages (from pyasn1-modules>=0.2.1->google-auth>=1.2->gcsfs) (0.6.1)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.11/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->gcsfs) (3.2.2)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

# votes

In [14]:
import pandas as pd

# GCS 파일 경로

gcs_path = "gs://codeit-project/votes/accounts_timelinereport.parquet"

# GCP 키 경로
key_path = "../config/key.json"

# 데이터 불러오기
df = pd.read_parquet(gcs_path, storage_options={"token": None})

# 확인
df.head()

,id,reason,created_at,reported_user_id,user_id,user_question_record_id
0,28,타인을 사칭함,2023-05-06 04:44:57,874587,885082,3920588
1,37,친구를 비하하거나 조롱하는 어투,2023-05-06 05:41:19,881048,881298,4018679
2,46,친구를 비하하거나 조롱하는 어투,2023-05-06 06:26:59,887882,881945,4120914
3,64,허위 사실 언급,2023-05-06 07:07:46,888610,893684,4143049
4,65,허위 사실 언급,2023-05-06 07:07:52,888610,893684,4143049


## accounts_timelinereport

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208 entries, 0 to 207
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       208 non-null    int64
 1   reason                   208 non-null    object
 2   created_at               208 non-null    datetime64[ns]
 3   reported_user_id         208 non-null    int64
 4   user_id                  208 non-null    int64
 5   user_question_record_id  208 non-null    int64
dtypes: datetime64[ns](1), int64(4), object(1)
memory usage: 9.9+ KB

In [16]:
df.shape

(208, 6)

In [17]:
votes= df.copy()

In [18]:
votes

,id,reason,created_at,reported_user_id,user_id,user_question_record_id
0,28,타인을 사칭함,2023-05-06 04:44:57,874587,885082,3920588
1,37,친구를 비하하거나 조롱하는 어투,2023-05-06 05:41:19,881048,881298,4018679
2,46,친구를 비하하거나 조롱하는 어투,2023-05-06 06:26:59,887882,881945,4120914
3,64,허위 사실 언급,2023-05-06 07:07:46,888610,893684,4143049
4,65,허위 사실 언급,2023-05-06 07:07:52,888610,893684,4143049
...,...,...,...,...,...,...
203,21857,선정적이거나 폭력적인 내용,2023-05-29 15:42:50,1479859,1402487,131364422
204,22634,허위 사실 언급,2023-05-31 10:33:00,1551005,1161757,135982670
205,22635,허위 사실 언급,2023-05-31 10:33:06,1551005,1161757,134909577
206,23022,선정적이거나 폭력적인 내용,2023-06-01 16:02:33,1479859,1498172,139837310
207,23108,친구를 비하하거나 조롱하는 어투,2023-06-02 08:30:06,1562736,1548002,140765885

In [19]:
votes.columns

Index(['id', 'reason', 'created_at', 'reported_user_id', 'user_id',
       'user_question_record_id'],
      dtype='object')

In [15]:
votes['reason'].value_counts()

reason
허위 사실 언급             80
친구를 비하하거나 조롱하는 어투    64
선정적이거나 폭력적인 내용       39
타인을 사칭함              15
광고                   10
Name: count, dtype: int64

In [20]:
votes.isnull().sum()

id                         0
reason                     0
created_at                 0
reported_user_id           0
user_id                    0
user_question_record_id    0
dtype: int64

In [21]:
votes.duplicated().sum()

np.int64(0)

In [22]:
votes.describe()

,id,created_at,reported_user_id,user_id,user_question_record_id
count,208.000000,208,2.080000e+02,2.080000e+02,2.080000e+02
mean,9786.269231,2023-05-15 08:13:50.278846208,1.132497e+06,1.159946e+06,4.932558e+07
min,28.000000,2023-05-06 04:44:57,8.372350e+05,8.340890e+05,3.920588e+06
25%,6123.750000,2023-05-11 16:41:43.500000,9.664702e+05,9.671202e+05,2.461178e+07
50%,10095.000000,2023-05-15 01:23:29,1.144432e+06,1.184397e+06,4.740327e+07
75%,14182.250000,2023-05-18 18:01:18,1.225963e+06,1.291813e+06,7.179578e+07
max,23108.000000,2023-06-02 08:30:06,1.562736e+06,1.548002e+06,1.407659e+08
std,5713.767759,NaN,1.694121e+05,1.800959e+05,3.311281e+07

In [23]:
votes.describe(include='object')

          reason
count        208
unique         5
top     허위 사실 언급
freq          80

In [24]:
votes.corr(numeric_only=True)

,id,reported_user_id,user_id,user_question_record_id
id,1.000000,0.757570,0.792385,0.986667
reported_user_id,0.757570,1.000000,0.768880,0.732911
user_id,0.792385,0.768880,1.000000,0.761396
user_question_record_id,0.986667,0.732911,0.761396,1.000000

#votes
## accounts_attendance

In [25]:
import pandas as pd

# GCS 파일 경로

gcs_path = "gs://codeit-project/votes/accounts_attendance.parquet"

# GCP 키 경로
key_path = "../config/key.json"

# 데이터 불러오기
df = pd.read_parquet(gcs_path, storage_options={"token": None})

# 확인
df.head()

KeyboardInterrupt:

In [ ]:
votes_accounts_attendance= df.copy()

In [22]:
votes_accounts_attendance.shape, votes_accounts_attendance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 349637 entries, 0 to 349636
Data columns (total 3 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    349637 non-null  int64
 1   attendance_date_list  349637 non-null  object
 2   user_id               349637 non-null  int64
dtypes: int64(2), object(1)
memory usage: 8.0+ MB

((349637, 3), None)

In [23]:
votes_accounts_attendance.describe()

                  id       user_id
count  349637.000000  3.496370e+05
mean   180550.143772  1.247187e+06
std    104168.322237  2.127986e+05
min         1.000000  8.321510e+05
25%     90432.000000  1.065813e+06
50%    180749.000000  1.261234e+06
75%    270674.000000  1.437486e+06
max    360505.000000  1.583730e+06

#votes
## accounts_blockrecord

In [24]:
import pandas as pd

# GCS 파일 경로

gcs_path = "gs://codeit-project/votes/accounts_blockrecord.parquet"

# GCP 키 경로
key_path = "../config/key.json"

# 데이터 불러오기
df = pd.read_parquet(gcs_path, storage_options={"token": None})

# 확인
df.head()

   id              reason          created_at  block_user_id  user_id
0   1               그냥... 2023-05-04 23:01:53         867483   878476
1   2         친구 사이가 어색해짐 2023-05-05 01:17:08         867190   867564
2   3  나랑 관련 없는 질문을 자꾸 보냄 2023-05-05 01:50:55         875110   875261
3   6               그냥... 2023-05-05 05:21:52         883696   883511
4   7               그냥... 2023-05-05 06:40:34         871349   870177

In [25]:
votes_accounts_blockrecord= df.copy()

In [26]:
votes_accounts_blockrecord.shape, votes_accounts_blockrecord.info(), votes_accounts_blockrecord.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19482 entries, 0 to 19481
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             19482 non-null  int64
 1   reason         19482 non-null  object
 2   created_at     19482 non-null  datetime64[ns]
 3   block_user_id  19482 non-null  int64
 4   user_id        19482 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 761.1+ KB

((19482, 5),
 None,
                  id                     created_at  block_user_id  \
 count  19482.000000                          19482   1.948200e+04
 mean   12694.563495  2023-05-25 19:12:26.516579584   1.183576e+06
 min        1.000000            2023-05-04 23:01:53   8.327400e+05
 25%     6514.250000            2023-05-14 02:19:01   1.001336e+06
 50%    12731.000000            2023-05-22 11:37:20   1.173390e+06
 75%    18984.750000            2023-05-28 11:04:33   1.357468e+06
 max    25361.000000            2024-05-06 13:03:37   1.582869e+06
 std     7220.338199                            NaN   2.049517e+05

             user_id
 count  1.948200e+04
 mean   1.175780e+06
 min    8.376150e+05
 25%    9.890410e+05
 50%    1.160726e+06
 75%    1.345758e+06
 max    1.583612e+06
 std    2.043189e+05  )

In [27]:
votes_accounts_blockrecord.columns

Index(['id', 'reason', 'created_at', 'block_user_id', 'user_id'], dtype='object')

In [29]:
votes_accounts_blockrecord['reason'].value_counts()

reason
모르는 사람임               9640
친구 사이가 어색해짐           5805
사칭 계정                 2022
나랑 관련 없는 질문을 자꾸 보냄    1083
너무 많은 양의 질문을 보냄        919
기타                       7
그냥...                    6
Name: count, dtype: int64

#votes
## accounts_failpaymenthistory

In [30]:
import pandas as pd

# GCS 파일 경로

gcs_path = "gs://codeit-project/votes/accounts_failpaymenthistory.parquet"

# GCP 키 경로
key_path = "../config/key.json"

# 데이터 불러오기
df = pd.read_parquet(gcs_path, storage_options={"token": None})

# 확인
df.head()

   id   productId phone_type          created_at  user_id
0   6   heart.200          A 2023-05-14 05:49:22  1055891
1   7   heart.777          A 2023-05-14 08:17:21  1152151
2   8   heart.777          A 2023-05-14 10:11:46   986200
3   9  heart.1000          A 2023-05-14 11:53:09  1028261
4  10   heart.777          A 2023-05-14 12:30:47  1235730

In [31]:
votes_accounts_fail= df.copy()

In [32]:
votes_accounts_fail.shape, votes_accounts_fail.info(), votes_accounts_fail.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163 entries, 0 to 162
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          163 non-null    int64
 1   productId   56 non-null     object
 2   phone_type  163 non-null    object
 3   created_at  163 non-null    datetime64[ns]
 4   user_id     163 non-null    int64
dtypes: datetime64[ns](1), int64(2), object(2)
memory usage: 6.5+ KB

((163, 5),
 None,
                id                     created_at       user_id
 count  163.000000                            163  1.630000e+02
 mean    89.828221  2023-05-27 11:32:20.828220672  1.263685e+06
 min      6.000000            2023-05-14 05:49:22  8.341120e+05
 25%     48.500000            2023-05-18 11:34:05  1.152704e+06
 50%     89.000000            2023-05-22 08:54:33  1.273301e+06
 75%    131.500000     2023-05-29 12:58:21.500000  1.398432e+06
 max    174.000000            2023-09-17 09:12:53  1.575434e+06
 std     48.494316                            NaN  1.824636e+05)

In [34]:
votes_accounts_fail.describe(include='object')

        productId phone_type
count          56        163
unique          3          2
top     heart.777          I
freq           49        107

In [ ]:
votes_accounts_fail.duplicated().sum().isnull().sum()

id              0
productId     107
phone_type      0
created_at      0
user_id         0
dtype: int64

In [37]:
votes_accounts_fail['productId'].value_counts()

productId
heart.777     49
heart.1000     4
heart.200      3
Name: count, dtype: int64

In [39]:
votes_accounts_fail['productId'].isna().mean()

np.float64(0.656441717791411)

productId
heart.777     49
heart.1000     4
heart.200      3
Name: count, dtype: int64

In [38]:
votes_accounts_fail.duplicated().sum()

np.int64(0)


## accounts_friendrequest

In [42]:
import pandas as pd

# GCS 파일 경로

gcs_path = "gs://codeit-project/votes/accounts_friendrequest.parquet"

# GCP 키 경로
key_path = "../config/key.json"

# 데이터 불러오기
df = pd.read_parquet(gcs_path, storage_options={"token": None})

# 확인
df.head()

,id,status,created_at,updated_at,receive_user_id,send_user_id
0,7,P,2023-04-17 18:29:11,2023-04-17 18:29:11,831962,837521
1,10,A,2023-04-17 18:29:11,2023-04-22 06:02:53,832151,837521
2,11,A,2023-04-17 18:29:11,2023-04-18 19:28:41,832340,837521
3,13,A,2023-04-17 18:29:11,2023-04-19 11:05:04,833041,837521
4,20,P,2023-04-17 18:29:11,2023-04-17 18:29:11,834415,837521

In [43]:
votes_accounts_friendrequest= df.copy()

In [45]:
votes_accounts_friendrequest.shape, votes_accounts_friendrequest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17147175 entries, 0 to 17147174
Data columns (total 6 columns):
 #   Column           Dtype
---  ------           -----
 0   id               int64
 1   status           object
 2   created_at       datetime64[ns]
 3   updated_at       datetime64[ns]
 4   receive_user_id  int64
 5   send_user_id     int64
dtypes: datetime64[ns](2), int64(3), object(1)
memory usage: 784.9+ MB

((17147175, 6), None)

In [46]:
votes_accounts_friendrequest.describe()

,id,created_at,updated_at,receive_user_id,send_user_id
count,1.714718e+07,17147175,17147175,1.714718e+07,1.714718e+07
mean,9.855565e+06,2023-05-17 19:14:14.416623360,2023-05-19 03:18:26.881183232,1.154812e+06,1.215895e+06
min,7.000000e+00,2023-04-17 18:29:11,2023-04-17 18:29:11,8.319620e+05,8.319620e+05
25%,4.940746e+06,2023-05-10 10:53:21,2023-05-11 03:51:13,9.737080e+05,1.029359e+06
50%,9.810449e+06,2023-05-15 10:38:56,2023-05-16 10:24:42,1.138343e+06,1.213751e+06
75%,1.477598e+07,2023-05-22 14:28:30,2023-05-23 21:37:16,1.317869e+06,1.405678e+06
max,1.969298e+07,2024-05-09 09:21:47,2024-05-09 09:21:47,1.583731e+06,1.583732e+06
std,5.675225e+06,NaN,NaN,2.019547e+05,2.143486e+05

In [48]:

votes_accounts_friendrequest.describe(include='object')

          status
count   17147175
unique         3
top            A
freq    12878407

In [49]:
votes_accounts_friendrequest['status'].value_counts()

status
A    12878407
P     3938608
R      330160
Name: count, dtype: int64

In [51]:
votes_accounts_friendrequest.isnull().sum()

id                 0
status             0
created_at         0
updated_at         0
receive_user_id    0
send_user_id       0
dtype: int64

In [52]:
votes_accounts_friendrequest.duplicated().sum()

:

:

:


## accounts_group

In [1]:
import pandas as pd

# GCS 파일 경로

gcs_path = "gs://codeit-project/votes/accounts_group.parquet"

# GCP 키 경로
key_path = "../config/key.json"

# 데이터 불러오기
df = pd.read_parquet(gcs_path, storage_options={"token": None})

# 확인
df.head()

   id  grade  class_num  school_id
0   1      1          1          1
1   8      3          2          1
2   9      3          3          1
3  10      2          2          1
4  11      2          3          1

In [3]:
votes_accounts_group= df.copy()

In [4]:
votes_accounts_group.shape, votes_accounts_group.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84515 entries, 0 to 84514
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         84515 non-null  int64
 1   grade      84515 non-null  int64
 2   class_num  84515 non-null  int64
 3   school_id  84515 non-null  int64
dtypes: int64(4)
memory usage: 2.6 MB

((84515, 4), None)

In [5]:
votes_accounts_group.describe()

                 id         grade     class_num     school_id
count  84515.000000  84515.000000  84515.000000  84515.000000
mean   42279.376087      2.113992      5.318606   3079.496468
std    24400.962630      0.754896      4.089901   1675.036093
min        1.000000      1.000000      0.000000      1.000000
25%    21147.500000      2.000000      2.000000   1752.000000
50%    42279.000000      2.000000      4.000000   3023.000000
75%    63411.500000      3.000000      7.000000   4620.000000
max    84546.000000     20.000000     41.000000   5965.000000

In [7]:
votes_accounts_group.isnull().sum()

id           0
grade        0
class_num    0
school_id    0
dtype: int64

In [9]:
votes_accounts_group.duplicated().sum()

np.int64(0)

In [6]:
votes_accounts_group['school_id'].value_counts()

school_id
3283    49
1773    44
1492    44
2212    43
271     43
        ..
638      1
3247     1
5768     1
3076     1
658      1
Name: count, Length: 5604, dtype: int64